[2018-06-10 19:23] Turbo87 opened #6 "Set response status to 200 by default"
In most cases right now I'm using something like

[code]

but I think that could be simplified by making `status: 200` the default, which is currently set to `null` according to the logging.

Is there any reason why 200 should not be the default?

[2018-06-10 19:27] Turbo87 opened #7 "Add `json` property to `Request` class"
It would be great to have a `json` convenience property on the `Request` class which would delegate to `JSON.parse(this.body)` :)

[2018-06-10 19:47] Turbo87 opened #8 "Tests using Polly freeze when in CI mode"
Using `ember test` the tests using Polly freeze, when using `ember test --server` it seems to work fine 🤔

Reproduction currently available at https://github.com/skylines-project/skylines/pull/918

[2018-06-11 17:16] jasonmit commented on #6
Seems reasonable, we'll make the change.

[2018-06-11 17:33] #6 closed

[2018-06-11 20:11] offirgolan commented on #8
I tracked this down to `ember-cli-pace` injecting a global XHR override into the tests/index.html. I suggest disabling it in test or opening an issue with the addon author to override the `XMLHttpRequest.prototype.send` method instead of the global class.

@Turbo87 I'm gonna go ahead a close this issue. Feel free to reopen!

[2018-06-11 20:11] #8 closed

[2018-06-13 07:13] offirgolan commented on #7
Reopening this issue because I've reverted the PR. I need to think about this a little more and find a solution that will work both for the request and response.

[2018-06-13 10:59] piotrpalek opened #12 "Error when adding the 'beforeRecord' event"
Hey, I've been testing pollyjs in my Ember app, and it worked fine. Later I've added the `beforeRecord` event like this:

[code]

and got this error (it goes away when I remove it):

[code]
(btw it'd be nice if source maps would work when in dev mode, so that it would be easier to debug issues like this)

[2018-06-13 11:12] piotrpalek commented on #12
I've build pollyjs and got a better stacktrace:

[code]

[2018-06-13 21:11] jasonmit commented on #12
If you plan to modify the response body before your XHR resolves, you'll want to use `beforeResponse`.  In the really near future (today at some point), `beforeResponse` will be renamed to `response`.

An example of how to use this event to mutate your response body:
https://github.com/jasonmit/ember-api-docs/blob/u/jasonmit/qunit/tests/acceptance/3-class-polly-advanced-test.js

I can investigate

[2018-06-13 21:18] jasonmit commented on #12
Feel free to reopen or create a new issue if you have further questions or this doesn't solve what you were trying to do.

[2018-06-13 21:19] jasonmit opened #13 "@pollyjs/ember - Sourcemap support"
Sourcemaps should be included.

Feedback given within #12

[2018-06-13 21:22] piotrpalek commented on #12
@jasonmit thanks for the answer, I actually wanted to use it to anonymise / remove some data from the recording before commiting it to disk. Would that be the wrong place to do it?

[2018-06-13 21:30] jasonmit commented on #12
A bug.  Reopening.

[2018-06-13 23:39] jasonmit commented on #12
@piotrpalek that error you were seeing should now be fixed on master and will be part of the 0.1.0 release that is happening in a few minutes.

That said, I still believe for your use case you want to use the `response` event (formerly known as beforeResponse).

[2018-06-13 23:39] #12 closed

[2018-06-14 03:18] raul1991 opened #17 "Question: Where is the gh-pages branch for this repository ?"
I love the theme it has setup for the repository. Can you share the link ?

[2018-06-14 04:27] wangyi7099 commented on #17
It maybe in another repo

[2018-06-14 04:28] wangyi7099 commented on #17
In the **docs** folder of this repo

[2018-06-14 05:16] jasonmit commented on #17
The source of the docs are here https://github.com/Netflix/pollyjs/tree/master/docs

They're powered by an amazing lib called docsify.  The theme is custom tailored to our design language at Netflix.  The custom theme can be found here: https://github.com/Netflix/pollyjs/blob/master/docs/assets/styles.css

If you want to run our docs locally to explore around the markup and tool you can run `yarn

[2018-06-14 05:16] #17 closed

[2018-06-14 05:38] raul1991 commented on #17
Awesome!!! Thank you so much @jasonmit for sharing this information and being so prompt.

Once again, Love the web template.

[2018-06-14 08:51] piotrpalek commented on #12
@jasonmit thanks! works great now :+1: also I agree, the `response` event makes more sense for this use case :)

[2018-06-14 09:05] yarivkenan opened #19 "Jest Support?"
Hi looks like a great project, can I use it with Jest?

[2018-06-14 10:44] enesTufekci commented on #19
@yarivkenan Why not? Have you tried it yet?

[2018-06-14 18:56] yarivkenan commented on #19
I'll try and get back to you.

[2018-06-14 23:00] indieisaconcept opened #20 "Custom Adapter configuration documentation suggestion"
Hi pollyjs team,

Thanks for sharing.

I had to dive into pollys internals to understand how best to register a custom adapter as its not immediately clear from the documentation.

Whilst configuring the default adapters is mentioned there is no example to illustrate registering your own.

For reference something like below could be really useful under the `configuration.Adapters` section.

[code]

[2018-06-15 09:51] RemeJuan commented on #19
Jest is for unit testing, not Journey testing, which is where this would come in handy.

[2018-06-15 17:38] webstercharly commented on #19
@RemeJuan Jest is a test runner, it is not solely limited to Unit testing, it can be used for any level of the pyramid.

I actually came here looking to see compatibility for a project which is using Jest with Puppeteer.

[2018-06-15 17:39] offirgolan commented on #20
@indieisaconcept thanks for opening up this issue! I'll make sure to add that to the docs.

Out of curiosity, what are your use cases for rolling out your own adapter?

[2018-06-15 18:04] indieisaconcept opened #21 "Custom Persister Support"
Hi pollyjs team,

I'd like to suggest adding support for specifying a custom persister in a similar fashion to adapters.

[code]

I've managed to get this working and was wondering if you would be open to accepting a PR for this.

It would require a minor change to `@pollyjs/core` to support registering custom persisters with the container and ideally `@pollyjs/core/src/persisters/persister` would

[2018-06-15 18:07] indieisaconcept commented on #20
@offirgolan thanks. The use case I have is for supporting supporting Node. I've written an adapter which can be used to provide compatibility with its native http/https modules.

Related to this I've also just submitted another issue. https://github.com/Netflix/pollyjs/issues/21

[2018-06-15 18:20] jasonmit commented on #21
Absolutely!  Would appreciate this contribution.

[2018-06-15 18:26] offirgolan opened #22 "Allow for registering custom persisters"

[2018-06-15 18:27] offirgolan opened #23 "Pull out base persister into its own package"

[2018-06-16 01:38] andrewcallahan opened #25 "Import polly is failing"
I'm trying to use polly on Ember 3.1.4, but can't seem to get the import to work.

I installed it via `ember install @pollyjs/ember`, set the configuration, and then tried to import the module in an empty acceptance test file. However, the importing `import { setupQunit as setupPolly } from '@pollyjs/core';` is failing.

Here is the error message:
[code]

[2018-06-16 01:39] andrewcallahan commented on #25
also, I've put up a fresh install ember app with polly - if you go to http://localhost:4200/tests you'll see the failure https://github.com/andrewcallahan/test-app

[2018-06-16 01:50] #23 closed

[2018-06-16 01:50] #22 closed

[2018-06-16 01:50] #21 closed

[2018-06-16 01:50] #20 closed

[2018-06-16 03:38] jasonmit commented on #25
[code]

It's not necessary and EmberApp.env() is `development` when you're serving the app over port 4200.  If you truly want `EmberApp.env() === 'test'` then you need to run your tests via `ember test` and not `ember s`.

By default, @pollyjs/ember does not bundle polly when it's in production mode so providing `enabled` isn't needed.

[2018-06-16 03:38] #25 closed

[2018-06-16 08:42] jasonmit commented on #13
Running into issues where ember-cli isn't concatting the map files correctly.  I believe it's related to https://github.com/babel/babel/issues/6008.  When I did the sourcemaps forced into `assets` the lines were not mapping correctly.  I suspect because of the amd shim around the UMD module.

Blocked on the above.  Treating as a dependency issue and closing as will not fix for now.

[2018-06-16 08:42] #13 closed

[2018-06-16 13:57] andrewcallahan commented on #25
@jasonmit Thank you so much for your prompt help fixing my "user error"  😂

[2018-06-16 17:04] andrewcallahan opened #26 "Trouble proxying http requests to localhost server using Ember"
I'm trying to get HTTP requests to proxy to my local api server, which is running on port 3000 on my machine.

I've configured polly as such:
[code]

If I just start the app using `ember s` then the api calls do not get proxied over to my local server. This isn't suprising, since I haven't told the app anywhere to do so. If I start the app using `ember s -proxy=http://localhost:3000` then the embe

[2018-06-16 19:05] offirgolan commented on #26
You can specify the host and api namespace via the `persisterOptions` config. See [here](https://netflix.github.io/pollyjs/#/persisters/rest?id=options).

[2018-06-16 19:56] andrewcallahan commented on #26
@offirgolan thanks for the quick reply. I tried doing that actually, but it didn’t work either.

It’s currently commented out in my test app but this is what I added to the .ember-cli-build file:
[code]

[2018-06-16 20:57] offirgolan commented on #26
Those options don't go in ember-cli-build, they are passed in to the actual polly instance. The options in that file are specifically for the node/express server. What you're looking for is this:

[code]

In the case of the qunit test helpers:

[code]

[2018-06-17 13:56] andrewcallahan commented on #26
Thanks @offirgolan - but now that I've done this I'm not sure if the `persisterOptions` changes are what I actually want.

Here is what my `setupPolly` function looks like now:
[code]

When my test is run, it immediately trys to load the polly recording from my api:

[code]

And it's getting a 404, which is understandable since I don't have anything on my api server set up with polly recordings.

[2018-06-18 07:28] satishjunghare opened #27 "testing"

[2018-06-18 07:28] #27 closed

[2018-06-18 12:01] piotrpalek opened #28 "feature: IE11 support"
Hey, I've been trying out pollyjs in an Ember.js app, and noticed that the app won't work at all because the imported pollyjs files include statements like arrow functions which don't work with IE.

The issue seems to be that the Polly.js addon uses `app.import` to include the libraries, but afaik `app.import` doesn't run the code through webpack, so it doesn't transform it into viable ES5 code. I

[2018-06-18 15:52] jasonmit commented on #28
Currently not a browser we target.

Dev and testing.  Prod it should not be included.

[2018-06-18 16:58] offirgolan commented on #26
The polly API is mounted on `/polly` but your persister options are pointing it to `/api/v1`. If you havent touched the node server's `apiNamespace` property, then you dont need to pass in the `apiNamespace` option to the persisterOptions object.

[2018-06-18 19:29] jasonmit commented on #28
@piotrpalek we're going to update Polly to support down to IE11.  Likely will happen in the next release.

[2018-06-18 22:34] piotrpalek commented on #28
@jasonmit cool, I've currently sidestepped the problem by only including it when needed (testing basically) but :+1:

[2018-06-19 12:32] kennethlarsen commented on #26
@andrewcallahan Just curious, any chance you are using Windows? My colleague gets the exact same error on his Windows machine but it works perfectly well on my Mac.

[2018-06-19 12:45] klarkc commented on #19
Actuallly I am refactoring a jest suite for everything (e2e, unit, integration), I will do some try with pollyjs in replace of supertest and nock. If I can replace both, it will be a double win

[2018-06-19 14:51] marchiore opened #29 "How can i use polly on a simple test project?"
Hi!

I'm found PollyJS on github trending repos, and i'm curious about how it works and how it can help me on my projects. So i've create a simple node app like:

[code]

i've already run:

[code]

But i'm a little bit lost on where should i have to code the sample:

[code]

Thanks in advance!

[2018-06-19 16:49] jasonmit commented on #29
Polly hooks into test framework.  The first step is determining which test framework you want to use and how that hooks up to your workflow.  That's one layer up from Polly.  Depending on your project and comfort level, that may vary but here are two recommendations: https://mochajs.org/ and http://qunitjs.com/

Once you have that setup, continue with:
https://netflix.github.io/pollyjs/#/test-help

[2018-06-19 16:56] marchiore commented on #29
Thanks for quick answer!

I 'll take a look on it.

[2018-06-19 16:56] #29 closed

[2018-06-21 09:32] 404157386 opened #33 "Cannot read property 'timestamp' of undefined"
I add this code for my project
but hit error...

[https://netflix.github.io/pollyjs/#/server/overview](https://netflix.github.io/pollyjs/#/server/overview)

[code]

[2018-06-21 17:50] cibernox opened #35 "Conflic in ember-cli with the `proxy` option."
If you start your ember-cli with the `--proxy` option (or you have it set in your `.ember-cli`) folder seems that polly's middleware is not having a chance of intercepting the requests, causing the requests to be forwarded to the real server.

[2018-06-21 18:03] PdcGhost8 commented on #33
new to this. Think Import Polly may not need {}

[2018-06-21 20:00] offirgolan commented on #26
@kennethlarsen the windows issue should've been resolved by #32.

[2018-06-22 00:55] Joshcranford17 commented on #33
I'm working on it everyone. For the perfect Profile it takes lots of patience and time

[2018-06-22 15:28] andrewcallahan commented on #26
@kennethlarsen I'm using Mac OS X

[2018-06-23 15:32] Turbo87 commented on #26
@andrewcallahan I'm not entirely sure you're having the same issue as I had, but https://github.com/Netflix/pollyjs/pull/36#issuecomment-399686732 might help :)

[2018-06-25 12:01] harunurhan opened #41 "ReferenceError: self is not defined while importing pollyjs"
I get `ReferenceError: self is not defined` where I try:

[code]

My test environment is `node@8.9.1`, running tests suites with jest & puppeteer.

[2018-06-25 12:08] harunurhan commented on #19
@webstercharly that is exactly what I am trying to do and I bumped into #41

[2018-06-25 12:48] webstercharly commented on #19
@harunurhan yep exactly the same as me. Couldn’t solve it so I ended up intercepting the requests, using regex on url and then returning request with my json.

Shame, would have loved to use polly and not implement my own

[2018-06-25 12:50] webstercharly commented on #41
Experienced this as well. Couldn’t solve or get a work around.

Tried looking at Polly code but couldn’t think of a solution

[2018-06-25 14:32] harunurhan commented on #19
@webstercharly Ok, I guess I'll have to keep my custom solution too.

[2018-06-25 16:16] offirgolan commented on #41
As of right now, Polly is a client side library (meaning it will only run in the browser) but we are working towards an isomorphic solution!

Closing this issue since this is a duplicate of #19.

[2018-06-25 16:16] #41 closed

[2018-06-25 16:19] offirgolan commented on #33
@404157386 I was hoping to get some more info so I can debug this.

1. What's your environment (OS, browser, etc)
2. Can you provide the full test code?
3. Its difficult to see from the stack where this is happening, if you can provide the source of where the exception was thrown, that would be super helpful.

[2018-06-25 16:38] offirgolan commented on #19
As of right now, Polly is a client side library (meaning it will only run in the browser) but we are working towards an isomorphic solution!

I'll be working on this in the next few weeks to hopefully find an interim solution to Jest. I'll update this thread when I make some headway.

[2018-06-26 01:52] 404157386 commented on #33
@offirgolan
This is a demo for this issue:
https://github.com/404157386/pollyjs-issue-33

`npm i` and `npm run dev` at the demo path

os: windows 10
npm version: 4.2.0
node version:  v7.10.1
broweser: Google Chrome 67.0.3396.87

This issue happens when http request or HMR reload.

[2018-06-26 09:31] Jmclerck opened #43 "Cannot set/use Response URL using client-side server"
I have a piece of code that makes two requests in parallel. When I have both responses I use the URL of the response objects to decide how to handle the response data.

I've set up Polly using a client-side server but the response URLs are coming back as empty strings. I have tried a couple of different ways of setting the URL in my generated response objects but nothing seems to work. I am curren

[2018-06-26 18:39] offirgolan commented on #33
@404157386 you are missing the step to register the Polly API express middleware.

[code]

See [here](https://netflix.github.io/pollyjs/#/node-server/express-integrations) for more details.

[2018-06-26 18:40] offirgolan commented on #33
Also, make sure you call `await polly.stop()` so your API calls get persisted to disk.

[2018-06-27 02:20] 404157386 commented on #33
Thank you for help!

[2018-06-27 02:20] #33 closed

[2018-06-27 02:36] #43 closed

[2018-06-29 09:18] isnifer opened #47 "jsdom support?"
I got next error when tried to use it in browser-like environment:
[code]

[2018-06-29 18:39] sohara opened #48 "Conditional request interception and shared request recordings"
In our app we have many tests that make similar, or in some cases identical requests. Examples of such request are user and config data used by the app.

We can manually pull down this data and save it as a fixture that we load and use during a request interception but it would be great if there was a way to designate some requests as shared between recordings (using some kind tag or key).

Anothe

[2018-06-29 20:08] jasonmit commented on #47
@isnifer I was able to reproduce.  Looking into a fix.

[2018-06-29 20:10] isnifer commented on #47
@jasonmit thank you! If I can help you — just mention me :)

[2018-06-29 21:18] jasonmit commented on #47
Here is an example of a jest running Polly: https://github.com/jasonmit/jest-with-pollyjs-example

Because Jest isn't running in a real browser, it doesn't know what to set `location.href` to.  This makes relative URLs to be prefixed with `about:blank`.

You can manually set the `location` context.  I set it to the node-server's URI to avoid any CORs issues (I need to poke at this further as to wh

[2018-06-29 21:35] jasonmit commented on #47
Closing in favor of tracking under #19 since the two are closely coupled.

[2018-06-29 21:35] #47 closed

[2018-07-03 05:43] marcuslindfeldt opened #56 "Add ability to configure window in fetch adapter."
In E2E frameworks like [cypress](https://www.cypress.io/) `fetch` is attached to an injected window object like this:

[code]

Currently the fetch adapter expects `fetch` to be attached to `self` but in this case it's not so it would be nice if I could supply the window object to the fetch adapter or Polly constructor. E.g.
[code]

[2018-07-04 01:10] jasonmit commented on #56
https://github.com/Netflix/pollyjs/pull/54 may partially resolve this in that Polly is no longer fixed on `self` and will `global` becomes a pointer to the result of:

[code]

If not, this is a reasonable ask and something we can support.

[2018-07-05 21:49] #48 closed

[2018-07-09 13:54] spsch opened #59 "Unexpected token import"
Hi, please can you help me with dummy explanation how to run pollyjs tests in mocha? I am trying to execute this short script (with all modules installed globally via npm 5.6.0 / node  v8.11.1):

`var Polly = require('@pollyjs/core');

describe('VALO login',  function () {

    it('vp admin sign in true', async function() {
        const polly = new Polly('App log in', {
            persisterOptio

[2018-07-09 20:18] offirgolan commented on #59
@spsch are you running this in the browser or in node?

[2018-07-09 22:01] jasonmit commented on #59
What are you also using to bundle your app?

The bundler is resolving pollyjs/core to the ES entry point.  If you're using a browser, use the UMD dist.  If node, use the commonjs dist.

https://github.com/Netflix/pollyjs/blob/master/packages/%40pollyjs/core/package.json#L5-L7

[2018-07-10 01:54] jasonmit commented on #56
#60 resolves this.  Will be in the next release.

[2018-07-10 02:09] jasonmit commented on #56
Reopening since it doesn't completely resolve this yet.

[2018-07-10 08:44] spsch commented on #59
The app is based on nodejs and many build tools are used (gulp, bower, npm and yarn). It seems that main bundler is yarn and tests are done via gulp tasks. I would like to run it from shell/cmd, so node seems to be best option. Thank you for your response, I am not JS developer originally, so I am going to educate myself; anyway any other help is appreciated :-)

[2018-07-11 01:11] jasonmit commented on #59
@spsch it's unclear without looking at your project as to what is resolving the package to the incorrect entry point.  Is this project open source or can you share?

[2018-07-12 10:29] piotrpalek opened #63 "When does PollyJS record automatically?"
Hey, I'm failing to understand when / how PollyJS records and when not.

For eg. by default the `recordIfMissing` flag is set to true, so when I first run a test PollyJS records it right?
But it seems that when I rerun the test then some of the same requests that were in the recording before get appended / inserted into the recording again, and it keeps on growing (I've diffed some of them and the

[2018-07-12 13:48] piotrpalek commented on #63
Hmm ok so this was an issue on my side :)

If other struggle with this here's what I did:

- Used the `logging: true` config option, it shows which requests are recorded, then you can dig into the logs `[[Target]]` -> `identifiers` object and see what data PollyJS uses to uniquely identify a request.
- In my case an external client adds a random `_=<datetime>` query param to every request which ma

[2018-07-12 13:48] #63 closed

[2018-07-15 04:13] NullVoxPopuli commented on #26
I think I'm getting the same issue, but in React + Karma + Mocha (using bigtest.js)

![image](https://user-images.githubusercontent.com/199018/42730497-9c0bed26-87c3-11e8-894b-0ec56b342fbd.png)

Here is how I'm trying to intercept a `POST` request: https://github.com/sillsdev/appbuilder-portal/pull/23/commits/cbaa8bf7bb6beb312d7c619e878304efc736c001#diff-5b9212dbfbf828931b81490987b8d4a2R39

[2018-07-17 08:15] #56 closed

[2018-07-19 10:04] harunurhan commented on #19
Probably It doesn't work for jest running on puppeteer environment.

Have you tried it already @webstercharly ?

[2018-07-19 16:49] offirgolan commented on #19
@harunurhan can you clarify as to what you mean by "jest running on puppeteer environment"? Are you talking about just running Puppeteer and testing with Jest (as documented [here](https://jestjs.io/docs/en/puppeteer)) or with something like [jest-environment-puppeteer](https://www.npmjs.com/package/jest-environment-puppeteer)?

[2018-07-19 19:45] webstercharly commented on #19
Using Jest as a runner and Jests assertion library, with the specs initialising and executing puppeteer commands.

I have a setup using Jest environment package.

I didn’t give it a try yet, don’t need it anymore but would like to @harunurhan

[2018-07-19 20:51] harunurhan commented on #19
@offirgolan Sorry for the confusion, my setup is similar to the first one (`jest-puppeteer`).

[2018-07-19 20:54] offirgolan commented on #19
@harunurhan no worries at all, thanks for the clarification.

The next release will have full support for Jest using JSDom as well as Puppeteer. I just need to finish writing up some tests before we release.

[2018-07-20 05:11] offirgolan commented on #19
v1.0.0 has been released which includes everything needed to support Jest + JSDom or Puppeteer! Im gonna go ahead and close this issue. If any of you find more specific issues regarding Jest/JSDom/Puppeteer, please open a new issue.

[2018-07-20 05:11] #19 closed

[2018-07-20 08:55] jasonmit commented on #26
@NullVoxPopuli sounds like a separate issue but have you tried setting `mode` to `"passthrough"` instead of `"replay"`?

[2018-07-20 08:57] jasonmit commented on #26
@NullVoxPopuli sounds like a separate issue, can you create a new issue for tracking?

[2018-07-20 09:23] NullVoxPopuli commented on #26
@jasonmit why is it a separate issue? I'm trying to mock all requests locally so I can run tests locally (without recording the real responses, I don't care for that)

[2018-07-20 17:03] offirgolan commented on #26
@NullVoxPopuli that is correct. If you are using the REST Persister (which it looks like you are), a server must be stood up to support the polly requests. You can follow the setup instructions [here](https://netflix.github.io/pollyjs/#/quick-start?id=setup-browsers-only).

If you dont want recording/replaying, you will need to upgrade to `v1.0.0` that way you can add `mode: passthrough` to your c

[2018-07-20 18:35] #26 closed

[2018-07-20 18:36] jasonmit commented on #59
Closing since this is the user's bundler choosing the wrong entry point for Polly.

[2018-07-20 18:36] #59 closed

[2018-07-22 21:58] isi-gach opened #71 "How to wait for all the responses to finish?"
Is there anything like `fetchMock.fush()` ?
http://www.wheresrhys.co.uk/fetch-mock/api#flush
This is how they do it:
[code]
[code]

[2018-07-23 02:49] jasonmit commented on #71
There isn't.

To better understand what our API could possibly be, I'm curious how you planned to use it.  Can you whip up a pseudo test?

[2018-07-23 13:29] NullVoxPopuli opened #72 "How do I use Polly.js for pure request mocking (no recording, no-replaying, etc)"
The current thing I'm trying to mock is my current-user endpoint.

I have `/api/users/current-user` and my mock for it:
[code]
This project is open source, and the above snippet can be viewed here: https://github.com/sillsdev/appbuilder-portal/blob/f76a67e1600c36fff1de8eb2ff2bbbeafc91517b/source/SIL.AppBuilder.Portal.Frontend/tests/helpers/auth.ts#L16:L24

The configuration for polly is configured

[2018-07-23 13:34] NullVoxPopuli commented on #72
I just noticed that @pollyjs has since hit version 1.0.0, I was on 0.2.1 -- I'll try upgrading and see what happens and update my code to match the latest docs as well.

[2018-07-23 14:12] NullVoxPopuli opened #73 "Cannot register any adapters."
This error happens before I even create a polly instance. When I'm just _registering_ adapters...

![image](https://user-images.githubusercontent.com/199018/43081900-b52fa812-8e60-11e8-897c-2354807090ad.png)

![image](https://user-images.githubusercontent.com/199018/43081930-c506d2b0-8e60-11e8-8059-8160a856d69a.png)

![image](https://user-images.githubusercontent.com/199018/43082063-1e38a0de-8e61-

[2018-07-23 14:47] NullVoxPopuli commented on #73
Ok, here is the problem.
apparently the adapter I'm passing to register is undefined..

![image](https://user-images.githubusercontent.com/199018/43083956-aa6c0ed4-8e65-11e8-8c53-130363af3187.png)

makes me wonder if this is a weird behavior with however the core module is built and how it interacts with typescript.

[2018-07-23 14:48] NullVoxPopuli commented on #73
Yup, that was it.
![image](https://user-images.githubusercontent.com/199018/43084066-f06304ce-8e65-11e8-8812-abb98263820b.png)

code to discover this:

[code]

[2018-07-23 14:53] NullVoxPopuli commented on #73
ok, so here is the working adapter registration.

[code]

This turned out to be an issue with Typescript and ambient modules. :-\

[2018-07-23 14:53] #73 closed

[2018-07-23 14:54] NullVoxPopuli commented on #72
By upgrading, and realizing I don't know how to code (as demonstrated via https://github.com/Netflix/pollyjs/issues/73) I have request stubbing working now with `1.0.0`. Thanks, Netflix :)

[2018-07-23 17:34] NullVoxPopuli commented on #72
@offirgolan it is not.
Also, I've changed the configuration for that host to:

[code]

Also, my organization endpoint was me being silly again.

I just needed to set my 'ORM''s fetch to the same one that polly is mocking.

I'm using Orbit.js (apollo-quality level of client for rest apis, specifically `json:api`)

This is what I had to do to get my api endpoint working:

[code]

[2018-07-23 17:36] NullVoxPopuli commented on #72
So, @offirgolan I think this issue has morphed into:

"How do I mock 3rd party domains? -- seems to not be working as demonstrated in the docs"

[2018-07-23 17:41] offirgolan commented on #72
This snippet wont work.

[code]

But this should:

[code]

If the request is not being picked up by Polly means that it was made outside of Polly's control. There are a couple of ways this could happen:

- It could be that the CDN request is being made via XHR and not fetch. If so, you will have to install and connect to the XHR adapter. `polly.configure({ adapters: ['fetch', 'xhr' ] });`
- It cou

[2018-07-23 18:09] NullVoxPopuli commented on #72
hmm, it must be that auth0 is using their own method of request-making. I actually have both fetch and xhr enabled. but, like I learned with Orbit, the original fetch may have been copied.

[2018-07-23 18:21] NullVoxPopuli commented on #72
ok, yeah. auth0 uses `superagent` for making their requests... sigh

[2018-07-23 18:21] #72 closed

[2018-07-23 18:45] NullVoxPopuli commented on #72
https://github.com/auth0/auth0.js/blob/fb53e8c318416ab1b29c99907a9e3cf63fe25164/src/helper/request-builder.js

[2018-07-23 18:52] offirgolan commented on #72
@NullVoxPopuli are you running Polly in the browser or in Node?

[2018-07-23 18:58] NullVoxPopuli commented on #72
@offirgolan in the browser.

[2018-07-23 20:08] #7 closed

[2018-07-24 05:51] 44px opened #76 "Host is stripped from protocol-relative urls"
**How to reproduce:**
1. Have app on `http://my-app.dev`
1. Make request to protocol-relative url `//api.dev/posts/1`

**Expected behavior**
Polly proxies this request to `api.dev` and writes response.

**Actual behavior**
Polly strips host from `//api.dev/posts/1` making it into `/posts/1` and then trying to send request to `http://my-app.dev/posts/1` instead of original url.

I found two places

[2018-07-24 16:25] lenards opened #77 "Origins Question, What does Polly.JS offer over VCR/etc?"
I was curious if there was anywhere that the origin of Polly was noted. I know that there are record/replay libraries in Ruby ([vcr](https://github.com/vcr/vcr), [betamax](https://github.com/betamaxteam/betamax)) and Python ([VCR.py](https://github.com/kevin1024/vcrpy), [cassette](https://github.com/uber/cassette)). Was the desire to have a pure Node.js implementation? Were the aspects that were n

[2018-07-24 17:53] jasonmit commented on #77
We're aware of the Ruby/Python implementations and we use Ruby's VCR at Netflix.

This tool is geared towards use within a browser and/or Node.  None of the tools above would be helpful in those runtimes.

There are great options out there in the JS community, and we compared all the ones we knew and were able to discover (i.e., pretender, nock).

In every case, bending the existing libraries to w

[2018-07-24 19:49] lenards commented on #77
Your thoughtful response definitely gives insight on the origin. I appreciate you offering it.

Thank you.

[2018-07-24 19:49] #77 closed

[2018-07-25 20:47] #76 closed

[2018-07-26 15:44] patrickberkeley opened #79 "[Question] Recommended usages"
Would you recommend / do you use Polly for end-to-end tests? Meaning tests that are intended to test both UI and API functionality.

If yes, do you have any patterns you follow?

If no, why not?

[2018-07-26 22:45] #71 closed

[2018-07-26 22:53] offirgolan commented on #76
@44px thanks for the detailed issue! A fix has been published with `v1.1.0` of `@pollyjs/core`.

[2018-07-26 22:55] offirgolan commented on #71
@isi-gach a fix has been published with `v1.1.0` of `@pollyjs/core`. You will also have to upgrade your adapters to their latest versions.

[2018-07-30 04:07] jasonmit commented on #79
I could see it being used in E2E tests.

Not so much the persisting aspect, but certainly the interceptor API.  Off the top of my head, suppressing analytic calls and asserting some aspect of a request/response.

[2018-07-30 10:33] 44px commented on #76
@offirgolan, great, thank you for quick fix!

[2018-07-30 11:40] PinkyJie commented on #56
Hi @marcuslindfeldt , just noticed you have tried to use Pollyjs inside Cypress, did you get some progress? I did some experiment last week trying to use Pollyjs in Cypress to record HTTP requests. With the latest Pollyjs, `fetch` can be injected successfully, but `XMLHttpRequest` can't. Any clue on this?

Here is my implementation.
https://github.com/PinkyJie/cypress-pollyjs-plugin/blob/master/ex

[2018-07-30 12:54] marcuslindfeldt commented on #56
@PinkyJie I haven't tried it XMLHTTPRequest since we only use fetch in our apps. Our solution is a bit different though.
https://gist.github.com/marcuslindfeldt/4d6dcb528e6c1ab734a0f78e609eff6a

Basically we create a new mockVisit command where you can add a callback to attach your polly mock endpoints.

So in your tests you can do something like this:
[code]

[2018-07-30 14:19] patrickberkeley commented on #79
Okay thanks, @jasonmit.

[2018-07-30 14:19] #79 closed

[2018-07-30 15:35] harunurhan opened #81 "Puppeteer adapter + Rest persister does not work."
The problem is that `global.XMLHttpRequest` which rest persister uses is not defined. I have tried adding `xhr` adapter, jus to see if it will make a difference, but I got `[Polly] [adapter:xhr] XHR global not found` because I use `puppeteer`

### options
[code]

### error
[code]

[2018-07-30 16:54] harunurhan commented on #81
@offirgolan

Thanks for the quick response! Apparently I just misunderstood docs somehow.

I will try it with `fs` and then close the issue if it works.

[2018-07-31 00:43] scottc-netflix opened #82 "Does not install since 1.0.0"
Installing with:
```npm install @pollyjs/core```

Produces this error:
[code]

It appears utils 1.0.0 isn't published but core is?

[2018-07-31 04:30] vittalas opened #83 "npm run test - throws error"
$ npm run test

yarn run v1.7.0
$ yarn build --scope=@pollyjs/node-server --scope=@pollyjs/utils
$ lerna run build --ignore=@pollyjs/ember --parallel --scope=@pollyjs/node-server --scope=@pollyjs/utils
lerna info version 2.11.0
lerna info versioning independent
lerna info scope [ '@pollyjs/node-server', '@pollyjs/utils' ]
lerna info ignore @pollyjs/ember
lerna info run in 2 package(s): npm run bui

[2018-07-31 04:46] offirgolan commented on #83
This seems to be the issue. Did you run `yarn install` and `yarn bootstrap` before running the test script?

[2018-07-31 05:06] vittalas commented on #83
phew figured that out lately, documentation could have helped. (i can contribute if required).
Also how can i run the integration tests in this folder : /Users/svittalagupta/plugins/poly/pollyjs/tests/integration/adapter-browser-tests.js

[2018-07-31 05:10] offirgolan commented on #83
@vittalas instructions on how to get started with the repo can be found [here](https://github.com/Netflix/pollyjs/blob/master/CONTRIBUTING.md). Is there anything missing from that page that you had to figure out on your own?

The files in there are common test cases that are used by the individual packages. Those are not meant to be run outside of those contexts.

[2018-07-31 05:15] vittalas commented on #83
Thanks @offirgolan for a very quick response ! I am actually looking at using this for the similar use case example mentioned here : https://netflix.github.io/pollyjs/#/README?id=usage.
1. Login to my application by providing the user id and passwd,
2. intercept the calls using the adapters

Can you providing some docs around it as that woould be of great help for me to get started !

[2018-07-31 07:46] harunurhan commented on #81
Changing to `fs` fixed the previous error, but got a new one related with `puppeteer` adapter. [adapter-puppeteer/src/index.js#L85](https://github.com/Netflix/pollyjs/blob/master/packages/%40pollyjs/adapter-puppeteer/src/index.js#L85) is blowing up. I am going to investigate as soon as I have time but maybe you already have an idea why? @offirgolan

### config
[code]
It's actually an open source p

[2018-07-31 17:48] offirgolan commented on #81
@harunurhan can you bump all your @pollyjs packages to their latest versions? That should resolve the issue you're running into.

[2018-07-31 19:56] scottc-netflix commented on #82
I think you're right, this is an issue with a private registry, thanks!

[2018-07-31 19:56] #82 closed

[2018-08-01 07:55] harunurhan commented on #81
Thanks! that solved it!

[2018-08-01 07:55] #81 closed

[2018-08-04 06:39] paul-hammant opened #84 "Examples of Polly.js with Selenum/WebDriver would be fantastic"
Not only a Node.js+WebDriver.js example, but Java, Python, Ruby and C# ones too, with their respective Selenium/WebDriver bindings.

To make it easy for authors of these examples, tech from http://todobackend.com/ is a decent starting point, like I did for https://paulhammant.com/2017/02/05/a-16-second-java-webapp-build-including-webdriver-tests/. In that case I didn't use a mocking technology lik

[2018-08-04 09:09] spursy opened #85 "cannot get records"
i use **@pollyjs/node-server** to init a server, the followed is my code:
[code]
When I request http://localhost:4000/custom , system cannot records any request history.

I use node v10.7.0

[2018-08-05 01:43] jasonmit commented on #85
You're expecting it to hit your `/custom` middleware - right?

[2018-08-05 02:01] spursy commented on #85
@jasonmit yes, Could you give me some advise?

[2018-08-05 02:09] jasonmit commented on #84
This is not supported so I have no examples to share.

[2018-08-05 02:09] #84 closed

[2018-08-05 16:26] jasonmit commented on #84
Yes and a browser build.

[2018-08-05 21:15] paul-hammant commented on #84
OK, here's the larger field (open source):

Mountebank (http://www.mbtest.org/) - records/playsback/mocks **arbitrary** TCP/IP conversations. Naturally stores all conversations in JSON which perfect for source control and repeatability. It is written in NodeJs but usable from any other language in record or playback form, as long as that tech can control processes.

Others:

* https://github.com/S

[2018-08-05 22:27] jasonmit commented on #84
Thanks for clarifying.

PollyJS sits a bit higher than recording low-level TCP/IP interactions.  It's geared more towards recording/replaying HTTP requests, which unlocks features like the [client-side "server" API](https://netflix.github.io/pollyjs/#/server/overview).

Really useful info though.  Will continue to look at these to see how we can improve interop between other langs.  PRs or suggest

[2018-08-06 06:16] paul-hammant commented on #84
OK, sorry for being confused about what PollyJS is. I've been table-thumping for this field of technologies (is a process, speaks HTTP* like the real thing would, is manipulable via a back door) for many years. When I first head abut PollyJS I thought it was like Mountebank, but from Netflix rather than ThoughtWorks.

* not just HTTP, of course.

[2018-08-06 06:39] typical000 opened #86 "[Question] Creating nearly identical records with different date headers."
Hello everybody! polyJs is awesome, but I have a little question (maybe I misundersand something or how it works, or not :))
Suppose, we have following code:
[code]
And, if I run the same test in diffrent dates (for e.g. yesterday and today), I recieve in my `recording.har`
duplicated entries that are different only in few fields (note: it's response headers):
![diff](https://user-images.githubuse

[2018-08-06 11:40] meikoudras opened #87 "Turning on Polly makes puppeteer do hundreds of requests"
I am using jest + puppeteer to run tests. I am trying to use polly to record and serve requests to our API  when running integration tests.

What happens when i turn on Polly to record our requests is that it starts running the same request for hundreds of times.

The packages I am using: PuppeteerAdapter, FSPersister.
When I turn off Polly the request completes successfully.

I recorded a video o

[2018-08-06 13:57] sradevski commented on #85
I faced a similar issue. It seems that **localhost**-based requests are not intercepted by Polly.
The code is as follows:
[code]
And the network call is done from my Jest tests from node (making `fetch` global beforehand)
[code]
I tried making the same request, once with `http://localhost:4000/` as root uri, and then with `http://google.com`, and one was intercepted while the other one wasn't.

[2018-08-06 16:34] jasonmit commented on #85
@spursy I'm curious if you're also using Jest?

Can either of you push a reproduction of the issue somewhere?

[2018-08-06 16:41] offirgolan commented on #85
@sradevski You've put Polly in passthrough mode via `mode: 'passthrough'` which means it wont handle any requests. You've also turned off `recordIfMissing` so new ones wont be recorded if they are missing.

If you're trying to intercept all requests yourself via the `intercept` handler, `server.get('*')` wont match anything. You will need to be more specific than that.

[code]

[2018-08-06 16:50] offirgolan commented on #86
The headers you've excluded are only removing them from how create the GUID for that specific request (which seems to be working according to your screenshot). The headers are not removed from the final recording.

Is this happening when you are rerecording your tests? Or are you just rerunning the tests which causes this diff?

[2018-08-06 17:12] offirgolan commented on #87
@meikoudras since you're running Polly w/ Puppeteer & the FS persister, there is no need for the node server since its only to be used with the REST adapter. You can change your config to be:

[code]

If turning off the node server and changing the config to the one above doesnt work, let me know. If you could add more details on your environment and the requests being made, that would help debug

[2018-08-06 20:40] offirgolan commented on #85
@sradevski thats very odd that localhost would not be intercepted when you specify a protocol. I'll see if I can reproduce it.

Out of curiosity, what is your use-case for intercepting all requests? Maybe it will be enough of a reason to have `.any` support it as well.

[2018-08-07 06:26] typical000 commented on #86
I'm sorry, it was my fault.
I have recorded first time without `date` header exlusion, and on second run I have added it.
For this reason, I think, there were duplicated recordings.
After removing previous recodings all seems to work perfectly.

So we can close this topic. Thank you!

[2018-08-07 06:26] #86 closed

[2018-08-07 07:53] meikoudras commented on #87
Thank you for your response! Unfortunately turning off the node server and updating the configuration did not work.

I made a repo where the issue is replicated (based it off an example of the jest-puppeteer repo: https://github.com/smooth-code/jest-puppeteer/tree/master/examples/create-react-app)

The repo is here:

https://github.com/meikoudras/jest-puppeteer-polly-test

Should demonstrate the i

[2018-08-07 08:00] sradevski commented on #85
I am creating a library that returns fake data when doing HTTP requests, and I found Polly's mocking adapters to be quite easy to use, as I can support multiple HTTP clients by creating adapters (for now fetch and XHR are sufficient).

Although it's not very pretty, I just did
[code]
wrote some tests, and it seems it works as expected. `.any()` would of course be much cleaner, but HTTP methods won

[2018-08-08 23:15] #87 closed

[2018-08-09 00:54] offirgolan commented on #87
Fixed with `@pollyjs/adapter-puppeteer@1.1.1`. @meikoudras thanks again for the reproduction, it was super helpful!

[2018-08-09 12:04] meikoudras commented on #87
Thank you for the quick fix!

I have updated the repo with another issue which seems to be related to CORS as well:
https://github.com/meikoudras/jest-puppeteer-polly-test

The previous get request will work correctly but making a post request will again make the browser crash. I can make a separate issue for that as well, if that is required.

[2018-08-10 16:01] sradevski commented on #85
I found out what the problem was with **localhost**. As suspected, the reason was Jest. More specifically, Jest runs in a `jsdom` environment, meaning it will have some presets applied (such as putting XHR as a global). However, you have to specify a test URL in order to be able to make requests to localhost.

Long story short, if you are making calls to port 4000 of localhost, add it to your Jest

[2018-08-10 20:45] jasonmit commented on #85
@sradevski thanks for circling back.

I mentioned the testURL issue when adding support for Jest just have not had time to document it yet: https://github.com/Netflix/pollyjs/issues/19#issuecomment-401478425

We'll need to update to docs and/or throw a helpful warning when if we detect Jest and testURL being unset.

[2018-08-10 21:04] jasonmit opened #91 "feature: presets for node and browser"
`@pollyjs/preset-node`
`@pollyjs/preset-browser`

To abstract away setting up the persisters and adapters that are commonly available in each runtime.  Will simplify the documentation on getting started.

[2018-08-12 08:49] jasonmit commented on #87
core@1.1.3 and adapter-puppeteer@1.1.3 resolves this.

[2018-08-13 13:17] isi-gach opened #92 "UnhandledPromiseRejectionWarning after upgrade"
I'm using the following npm packages
[code]
If I try to upgrade `@pollyjs/core` to `1.1.0` or higher I get the following warnings running my tests with Jest:
[code]
any ideas how to figure it out why?

[2018-08-14 03:04] jasonmit opened #93 "ci: pipeline fails against latest puppeteer (1.7.0)"
Whatever breaking change happened took place between 1.6.2 and 1.7.0.  No issues on 1.6.2.

[2018-08-14 04:57] jasonmit commented on #83
https://netflix.github.io/pollyjs/#/server/overview documents the intercepting/mocking API.

Closing since this is an education topic.  The docs will continue to improve (we've received a lot of feedback on this.)

Feel free to open issues with specific questions where the docs are lacking or contributing to improving them.

Thanks!

[2018-08-14 04:57] #83 closed

[2018-08-14 16:25] isi-gach commented on #92
@jasonmit

I was using version 1.0.0 for `adapter-fetch` `core` and `persister-fs`

Yes, all the tests pass, the only difference is the warning

I have been trying to extract the test in a new repository without success. The warning is triggered by the following line:
[code]
the button is redirecting to the home page using `react-router`
[code]
The warning disappear if I call `await polly.flush()`

[2018-08-15 02:50] jasonmit commented on #92
Thanks for the feedback.

Let me know if you're able to reproduce at any point. In the meantime, I'll continue to think about the issue.

[2018-08-15 11:25] isi-gach commented on #92
here you go:
[code]

[2018-08-16 20:20] mfestrada opened #98 "TypeError: Invalid value used as weak map key"
Hi,

While trying this out, I got the error ```TypeError: Invalid value used as weak map key```

My test code looks roughly like:

[code]

The stack trace:
[code]

I'm running node v8.11.3.  Help!

[2018-08-16 21:30] jasonmit commented on #98
Change:

`const { PuppeteerAdapter } = require('@pollyjs/adapter-puppeteer');`

to

`const PuppeteerAdapter = require('@pollyjs/adapter-puppeteer');`

Feel free to comment/reopen if this doesn't address your issue.

[2018-08-16 21:30] #98 closed

[2018-08-16 22:50] jasonmit commented on #92
I'm still unable to reproduce it, but if you remove the `await polly.flush()` and uncomment the `return polly.flush()` does the issue still occur?

[2018-08-17 08:52] isi-gach commented on #92
I get a slightly different warning:
[code]
maybe [this issue](https://github.com/facebook/jest/issues/5311) could be related?

[2018-08-17 19:40] mfestrada opened #99 "No HAR file generated by fs persister"
When running a test using the puppeteer adapter and fs persister, I don't see any HAR file being generated.

This is the code for the test:

[code]

This is a tree command (ignoring node_modules) of the directory after the test runs, showing no HAR file present in the recordings directory:

[code]

I'm not sure what the issue actually is; my apologies for opening an issue for this but I wasn't abl

[2018-08-17 20:18] jasonmit commented on #92
@isi-gach thanks again and sorry for all the back-and-forth.

I'll continue to think about this and try and reproduce on my end.  If any future travelers have a reproduction please add to this issue!

[2018-08-17 23:32] mfestrada commented on #99
@jasonmit Thank you for your response!! I've removed those lines and I'm still not able to generate the HAR file.  I also tried using .flush() before calling .stop() but it didn't seem to make a difference.  My test code currently looks like:

[code]

[2018-08-18 09:55] jasonmit commented on #99
I was unable to get it to record anything from `https://www.google.com/`.  Based on the event logs I wasn't seeing a resource type for requests we record.  I've updated your test to instead hit this github issue with `waitUtil` set.

[`waitUtil`](https://github.com/GoogleChrome/puppeteer/blob/master/docs/api.md#pagegobackoptions) is so the `goto` Promise resolves once the network is idle for 500ms

[2018-08-18 09:56] #99 closed

[2018-08-19 10:05] #93 closed

[2018-08-19 20:42] jasonmit commented on #91
@rahilvora we would always love to have contributions :)

[2018-08-22 18:21] k3nsei opened #103 "feature: UI tool or browser extension"
Hi,
I like idea what your library is doing. But it could be much nicer when there be some tool like [leonardojs](https://github.com/outbrain/Leonardo) on top of polly.js. Especially when you want to code without backend. Mostly I would prefer some kind of script with browser extension companion.

[2018-08-27 15:15] rahilvora commented on #91
Great, I can try this.

[2018-09-06 22:07] ClaudioCorridore opened #105 "Please improve the "Quick Start" documentation page"
Please improve the [Quick Start](https://netflix.github.io/pollyjs/#/quick-start) documentation page.

I think that a step-by-step guide to write and launch a simple test scenario would greatly help adopters.

Thanks.

[2018-09-06 22:18] offirgolan commented on #105
@ClaudioCorridore thanks for creating this issue. I had plans to do this in the next week or two plus add example (cookbook-like) pages for different environments.

Do you have specifics you're looking for?

[2018-09-06 22:29] ClaudioCorridore commented on #105
I was not able to run the example.
After starting the polly server using the polly cli, if I try to run the example code I got some errors. I tried to run the code with plain node js and also with the experimental es6 modules flag.
It would be nice if users would be able to start a simple test scenario just to see the tool in action.
I would be happy to help with the documentation but I would need

[2018-09-11 07:35] eric-khoury opened #107 "Polly not passing requests through to react app server?"
Hi,
I'm using Polly in a react app where I'm writing Selenium tests. Basically, react is running on localhost:3000 and selenium spins up a browser, which I can point to my react app to click on things, and everyone is happy. But now, I'm trying to stub out all my API requests (XHR) using Polly.
I run Polly with `polly l`, so it listens on port 3000. Now, both my react app and Polly is running on l

[2018-09-11 22:56] jimmont commented on #105
it would be helpful to have:
a complete webpack dev server example recording and using all ‘/api’ calls that expands on the resolved issue 33
a similar proxy for local development that intercepts the same http ‘/api’ calls for recording/playback

[2018-09-13 17:49] jimmielemontgomery commented on #33
@offirgolan and @404157386 where does the `await polly.stop()` go ([mentioned above](https://github.com/Netflix/pollyjs/issues/33#issuecomment-400420567)) and how does it work? In reading through the quickstart I can't quite figure this out and I'm reading the API+config now. Thanks very much.

[2018-09-13 22:12] jimmielemontgomery opened #109 "express integration?"
I cannot figure out how to use express integration for API calls that my server proxies. Where/how/what should I be doing to properly save http responses from these APIs so that once saved they are then returned from Pollyjs for all the following requests? My read through [the quickstart](https://netflix.github.io/pollyjs/#/node-server/express-integrations) hasn't led to the desired result. Here i

[2018-09-13 22:27] offirgolan commented on #107
@eric-khoury is polly running within your react app or are you trying to run this in parallel with Selenium?

[2018-09-14 13:18] eric-khoury commented on #107
@offirgolan  I'm trying to run it in parallel with selenium. Might be a bad idea?

[2018-09-16 21:34] manobi opened #111 "Is it possible to record from node?"
I would like to record some API tests run from node.
Everytime I run my node.js api test it should update the persisted content.

Then I would like to run my frontend apps tests, but never reaching my real API, every request should return from the cached version.

How can I achieve this? Do I have write an adapter, if I’m using node-fetch which have the exact same api as the browser version?

[2018-09-17 22:33] offirgolan commented on #107
@eric-khoury as of right now, we have no support for integration with selenium. We do however have full support for Puppeteer.

[2018-09-20 01:34] offirgolan commented on #111
@manobi and I have resolved this issue over twitter. A working example of node-fetch + adapter-fetch has been added in #112.

[2018-09-20 01:34] #111 closed

[2018-09-20 23:57] offirgolan commented on #109
@jimmielemontgomery Im not sure I completely understand what it is you're trying to do. As of right now, Polly doesnt have full node coverage as we do not have a low level node http request adapter. We do however have support for node-fetch.

I highly recommend checking out the [examples](https://github.com/Netflix/pollyjs/tree/master/examples) directory for fully working examples. If that doesnt

[2018-09-21 00:02] offirgolan commented on #105
@ClaudioCorridore @jimmont as a start to improve the documentation, I've added a bunch of working [examples](https://github.com/Netflix/pollyjs/tree/master/examples) to help you get started. Let me know if you have any other examples you'd think would be helpful or if the current one need to be modified in any way.

I'll be working on improving the actual doc pages in the coming week.

[2018-09-27 09:46] eric-khoury commented on #107
@offirgolan Ok thx!

[2018-09-27 17:01] offirgolan commented on #107
Np! You can check out working examples [here](https://github.com/Netflix/pollyjs/tree/master/examples) which include puppeteer and jest-puppeteer.

[2018-09-27 17:46] offirgolan commented on #107
Im gonna go ahead and close this issue. Feel free to reopen or open a new one if something else comes up 😄

[2018-09-27 17:46] #107 closed

[2018-09-27 21:41] NullVoxPopuli opened #113 "Can I have two different intercepts based on query params?"
I've tried setting the path passed to `get` to a path including a query string. but it seems to not registery correctly.

I see this error in the chrome console (this is the request my app is making):
[code]

I've tried:
[code]
and
[code]
and neither work.

what does work is not providing any query params at all:
[code]

I have this in the polly config:
[code]

[2018-09-28 01:31] offirgolan commented on #113
Due to https://github.com/tildeio/route-recognizer/issues/53 you actually cant define routes based on query params. Instead, you can do something like this:

[code]

[2018-09-28 01:58] NullVoxPopuli commented on #113
thanks!

[2018-09-28 01:58] #113 closed

[2018-09-28 21:41] scottc-netflix opened #114 "Not enough information when recording isn't found"
Pollyjs only tells the URL and method when a recording isn't found for a request. It's especially difficult to tell which request wasn't matched when using GraphQL, because all requests have the same method and URL. An ideal enhancement would be if it told you why it doesn't match, but just an option for more verbose logging of the missing recording would be very helpful!

[2018-09-30 23:13] jasonmit commented on #114
Is this because the request payload is the reason for the mismatch and you would expect logging mentioning that?

[2018-10-01 21:29] scottc-netflix commented on #114
Yeah, the body of a GraphQL request has an `operationName` field. In some cases it could be a header mismatch though.

[2018-10-05 10:11] gribnoysup opened #116 "[RFC] setupPolly method for jest"
Hi team! First of all, thanks a lot for this library, great work 👏

This issue is a proposal and request for comments on adding a `setupPolly` helper for jest environments. After having a discussion with @offirgolan in https://github.com/Netflix/pollyjs/pull/115#discussion_r222127410 I decided to investigate is it possible to make the same hook support with automated name generation for jest/jasmi

[2018-10-05 19:28] offirgolan commented on #116
@gribnoysup this is something that has been constantly on my mind so thank you for taking this on. The solution you currently have implemented feels really nice but I'm thinking we can get it closer to parity with a couple of changes:

## Formatting Test Name

With your current implementation, the following test:

[code]

Will generate a recording name of `Module-Test` where the expected would be

[2018-10-06 13:47] gribnoysup commented on #116
Hi @offirgolan! Thank you so much for the feedback 🙌

I did an investigation for both cases that you mentioned and the results are applied to the library and released for testing purposes as `@gribnoysup/setup-polly-jest@0.3.0`

### Formatting Test Name

This one took a while 😅Basically it seems that jest/jasmine are hiding as much internals from the users of the library as possible, making it pre

[2018-10-07 09:30] gribnoysup commented on #116
I was doing some investigation for other ways to achieve behaviour parity between `jest` and `mocha/qunit` in an easier way and found `jest-circus` which seems to be new, work in progress test runner for `jest` (https://github.com/facebook/jest/issues/6295). That means that overriding `jasmine` environment will stop working with some future major release of `jest` 🙀

This information made me think

[2018-10-13 10:16] gribnoysup commented on #116
I updated the repo and now everything is working both for jasmine and jest-jasmine and also matching Mocha/QUnit as close as possible: scoping, naming with folders, setupPolly method API 👍

@offirgolan if you are still okay with the selected approach, I'm still happy to port it to `@pollyjs/core` 😸

[2018-10-15 12:38] ReasonableDeveloper opened #117 "Relative links are broken in the GitHub documentation"
Hey, thank you for this library. I have just started using it and really like the API.
When clicking through the documentation on GitHub I found that clicking on almost any link results in a 404 due to the markdown extension `.md` not being used in the relative paths of the links.

It is not that big of an issue since the official [docs](https://netflix.github.io/pollyjs/#/) don't have any broken

[2018-10-15 18:02] offirgolan commented on #117
@ReasonableDeveloper thanks for bringing this to my attention, I'll look into it and see if adding `.md` will accommodate both the official docs and the raw github docs.

[2018-10-18 07:34] gribnoysup commented on #116
@offirgolan haha, no worries about the delay and thanks for the feedback 🙌I opened a work-in-progress PR for this feature, I think we can continue the discussion there 👍

[2018-10-24 20:01] mottalrd opened #119 "Do I need a special adapter to record requests done in Axios?"
Hello, thank you for your work on this!

I am playing with the googleapis JavaScript libraries and they appear to be based on Axios. https://github.com/axios/axios

I am using a xhr adapter but my request does not seem to be recorded. Is there any special configuration / adapter needed for Axios on Node.js? Or the xhr adapter should work just fine?

Thank you, looking forward to hearing back

[2018-10-24 23:02] offirgolan commented on #119
We currently do not have support for axios on the node side. The goal is to create a generic node http request adapter so it would work with any node library. On the browser side, axios is supported since we have lower level XHR and fetch adapters that axios is built on top of.

[2018-10-25 04:33] mottalrd commented on #119
Thank you!

[2018-10-25 04:49] offirgolan opened #120 "Node HTTP Request Adapter"
Create a low level Node HTTP Request adapter so we can fully support Node use cases.

[2018-10-25 04:50] offirgolan commented on #119
@mottalrd I've created #120 to track the creation of the HTTP Request adapter. Im gonna go ahead and close this issue, feel free to reopen if necessary.

[2018-10-25 04:50] #119 closed

[2018-10-25 19:16] kiavashps opened #121 "puppeteer adapter doesn't capture main frame"
I'm trying to use the puppeteer adapter to capture every request on a page (including the root html document, scripts, images, etc..) using:
[code]

When `requestResourceTypes` includes `document` (which matches the main frame/html page), the page hangs indefinitely (or hits timeout)

**Platform:** macOS v10.11

**Node.js:** v8.11.4

**@pollyjs/adapter-puppeteer:** v1.2.0
**@pollyjs/core:** v1.2.0

[2018-10-25 22:15] kiavashps commented on #121
Also, if I manually modify the `recording.har` file to add an entry for `https://www.example.com/`, it will correctly replay it. It's only when recording the request that it hangs.

[2018-10-26 09:55] raghukiranp commented on #116
@gribnoysup Thanks for bringing this up, I am looking for support for JEST with polly.

[2018-10-27 18:20] rafareyes7 commented on #105
Please improve the documentation, it's really confusing. =(

[2018-10-27 18:35] rafareyes7 opened #122 "Please imporve the examples"
Hi, It would be nice if the examples contains a mini project of a server that record and replays HTTP responses.

[2018-10-28 02:34] offirgolan commented on #122
@rafareyes7 I'm not entirely sure what you mean by this. Do you mind elaborating?

[2018-10-28 02:38] offirgolan commented on #121
@kiavashps thanks for the detailed description on this issue. Does the page still hang if you set the resource types to `['xhr', 'fetch', 'document', 'other']`?

[2018-10-28 14:18] rafareyes7 commented on #122
Yes, Elaborate an example or put a piece of code in the QuickStart showing how to record and replay HTTP from a persisters.

[2018-10-29 00:55] jasonmit commented on #122
https://github.com/Netflix/pollyjs/tree/master/examples there are many examples in the repo.

Feel free to open a PR to improve the docs where you feel they're lacking.

[2018-10-29 00:55] #122 closed

[2018-10-31 03:53] #105 closed

[2018-10-31 06:20] offirgolan commented on #105
Apologies for the delay on this everyone, its been a crazy few weeks! I've rewritten the Quick Start page with simpler examples as well as working CodePen embeds. I've also added an Examples page with all the current ones available in the `examples` directory. Let me know what you think — the more feedback the better 😄

[2018-11-01 22:02] yasinuslu commented on #120
Hi @offirgolan, i would like to work on this

[2018-11-02 22:29] offirgolan commented on #120
@yasinuslu thats awesome! PRs are always welcomed. Feel free to just go for it or open an RFC if you'd like to discuss implementation before 😄

[2018-11-03 11:34] yasinuslu commented on #120
Thanks @offirgolan, i'll start working on it and see if i need to open an RFC or if i can just go for an implementation

[2018-11-04 10:35] gribnoysup commented on #116
After the discussion in PR, the decision was to keep the proposed implementation out of the Polly core. If someone is interested, `setupPolly` for jest/jasmine is published as a separate library: [setup-polly-jest](https://npm.im/setup-polly-jest)

Big thanks to the Polly team for support and feedback 🙌

[2018-11-04 10:35] #116 closed

[2018-11-07 17:50] feinoujc opened #129 "Typescript module declarations?"
I've built out what amounts to a complete or nearly complete module declaration for `@pollyjs/core` and some of utils. Does this project want to maintain these contributions or should it be contributed to DefinitelyTyped as a separate `@types` package?

[2018-11-15 04:20] jasonmit commented on #129
@feinoujc I think for now should be maintained as a separate `@types` package.

Feel free to let us know once you do, we'd love to advertise it in the docs as I'm sure others will find it incredibly useful.

[2018-11-15 06:19] jasonmit commented on #121
Polly does not currently capture all of those resource types, only xhr, fetch, and other resource types.  Perhaps we should warn when other options are passed for `requestResourceTypes`.

Closing for now.

[2018-11-15 06:19] #121 closed

[2018-11-15 06:21] #129 closed

[2018-11-15 16:06] maximou4391 opened #136 "Ignore URL parameter for the comparison?"
Hello,

I was wondering is there is a way to ignore a particular parameter in the request so that when doing the comparison to see if the lib store or record the call it is replayed even is the parameter is different.

I mean in our webapp we have a parameter that depends on the session and that will also be different if we redo the exact same call let's say.
I'm trying to use the lib to ease fron

[2018-11-16 17:56] offirgolan commented on #136
@maximou4391 I'm not sure I follow what your exact needs are. Can you give me some more details or an example?

[2018-11-19 06:52] offirgolan commented on #136
@maximou4391 would #138 solve the problem you're having?

[2018-11-19 08:07] maximou4391 commented on #136
Hello @offirgolan, indeed it might, for example:
request url **A** : https://www.mydomain.fr?param1=john&param2=456654
request url **B**: https://www.mydomain.fr?param1=john&param2=999999

I wanted to be able to replay B when only A has been recorded. I guess now with #138 I will be able to pass a function to ignore param2.

Thanks,

I will wait for it.

Regards,

Maxime.

[2018-11-21 17:57] feinoujc commented on #129
@jasonmit update on this:

they've been published in https://github.com/DefinitelyTyped/DefinitelyTyped/pull/30574

...BUT there is an issue (https://github.com/Microsoft/types-publisher/pull/502) in that repo with scoped packages not inferring their inter-dependencies automatically, so until that is fixed you have to install "too many" of the typings

for example, you have to install `@types/poll

[2018-11-22 05:35] offirgolan commented on #129
@feinoujc this is great! Thank you for taking the time to put this together. Having to install that many packages is definitely less than ideal but it better than nothing! Hopefully they are able to resolve that issue on their end soon.

[2018-11-24 21:50] #136 closed

[2018-11-26 23:54] CGamesPlay opened #143 "Adapters do not work with custom context."
The fetch adapter supports an option called `context`, which allows you to configure where the adapter will look for a fetch object to replace. However, this doesn't work: [updating the context object](https://github.com/Netflix/pollyjs/blob/master/packages/%40pollyjs/adapter-fetch/src/index.js#L30) doesn't do anything, because [the object is a clone](https://github.com/Netflix/pollyjs/blob/master

[2018-11-27 00:44] offirgolan commented on #143
@CGamesPlay thanks for reporting this! I was able to recreate this on my end as well. I'll work on getting this resolved 😄

[2018-11-27 20:52] jasonmit commented on #143
@CGamesPlay what is the use-case for `fetchContext` as a plain object?

[2018-11-27 21:07] CGamesPlay commented on #143
I wouldn't bemoan if the library were hard-coded to use the global context. I did end up needing to patch some bugs in `node-fetch` for use in my test environment, so I overrode the global `Response` and `Headers` classes, but I could just as easily do that if they were on the global object.

[2018-11-27 22:09] jasonmit commented on #143
The reason I ask is because I believe the cloning strategy we implemented against will only clone an object if it's a pojo.  In normal circumstances, it's not and so we haven't run into this.

We will land a patch soon to resolve this.

[2018-11-28 00:45] #143 closed

[2018-11-28 05:31] CGamesPlay commented on #143
Thanks for the quick turnaround, everyone!

[2018-11-28 12:44] EricZhaoCherryTomato commented on #109
Hi @offirgolan , I think I got the same question as @jimmielemontgomery here.

Basically, the question is, can I use PollyJS as a proxy server to cache the remote service response and replay it as necessary?

The story behind this is that, I have a React app hit a third party API, which is unstable and under development. I would like to set up a Proxy server in the middle between my frontend App a

[2018-11-28 20:22] allthesignals opened #145 "PBFs (protobuf) failing in 3rd party lib"
I have Polly caching this request:

[https://tiles.planninglabs.nyc/fonts/Metropolis Regular,Noto Sans Regular/0-255.pbf](`https://tiles.planninglabs.nyc/fonts/Metropolis Regular,Noto Sans Regular/0-255.pbf`)

But it seems to fail:

<img width="781" alt="screen shot 2018-11-28 at 3 16 44 pm" src="https://user-images.githubusercontent.com/5004319/49179616-a8206b00-f320-11e8-915a-854827945ede.png">

[2018-11-28 20:24] offirgolan commented on #109
@EricZhaoCherryTomato the short answer is **yes** but the only caveat is that you will have to use node-fetch (until #128 gets merged) with the fetch adapter + fs persister.

[code]

You can check out the [node-fetch example](https://github.com/Netflix/pollyjs/tree/master/examples/node-fetch) to help you get started.

[2018-11-29 02:36] offirgolan commented on #145
From your first screenshot, it looks like everything is there. You need to be looking at `response.body` not `body` as the latter is the request's posted body.

Can you share what your test looks like, including the setupMirage/setupPolly calls?

[2018-11-29 04:45] offirgolan commented on #145
Try the following:

[code]

[2018-11-29 04:54] allthesignals commented on #145
Thank you @offirgolan! I gave that a go, but it seems like `polly` is not available on `this`: `Cannot read property 'server' of undefined`.

Here's what I've got:

[code]

Full error:

[code]

My ember-cli-qunit resolves to qunit version `~2.6.0`.

[2018-12-04 23:43] offirgolan commented on #145
It seems like something is interrupting setupPolly from setting `this.polly` on the test context. You would need to debug this more to figure out why this is happening.

As of right now, the XHR and fetch adapters do not support binary response data. I would need some time to get that working correctly. I would instead just intercept the font call and respond with a Blob or binary string.

[2018-12-10 14:52] nfc036 opened #147 "@pollyjs/ember and coalesceFindRequests is failing"
Using ember-data's RESTAdapter with coalesceFindRequests=true multiple records are fetched using URLs like
http://localhost:4200/modelname?ids%5B%5D=4196&ids%5B%5D=589&ids%5B%5D=644

@pollyjs/ember does not seem to handle this correctly. Only one of the "ids" is passed to the backend and persisted, i.e.
http://localhost:4200/modelname?ids%5B%5D=4196

Are there any recommendations/workarounds to us

[2018-12-10 18:45] offirgolan commented on #147
@nfc036 the coalesced url that was generated isnt exactly valid since its repeating the same query param key with different values. In your case:

[code]

This will trip up all query param parsers and will give the same output as polly did. Instead the url should be something like the following:

[code]

[2018-12-10 21:33] nfc036 commented on #147
Hmmm. It is the way ember-data is currently handling this coalesced requests. Please see the documentation at
https://www.emberjs.com/api/ember-data/3.5/classes/DS.RESTAdapter/properties/coalesceFindRequests?anchor=coalesceFindRequests

[2018-12-10 21:36] offirgolan commented on #147
Ah interesting. I'll take a look to see what we can do here.

[2018-12-13 04:03] #147 closed

[2018-12-13 04:08] offirgolan commented on #147
@nfc036 released with `v1.4.1`.

[2018-12-13 07:31] nfc036 commented on #147
Awesome! I can confirm that pollyjs@1.4.1 is correctly working with ember-data's coalesceFindRequests=true. Thank you for all the great work!

[2018-12-14 16:02] 2xAA opened #149 "Puppeteer adapter: "Evaluation failed: TypeError: Failed to fetch""
I'm attempting to use Polly in an existing project to test a webform, however upon adding Polly with the Puppeteer adapter I'm running into this error from Puppeteer.

`Evaluation failed: TypeError: Failed to fetch`

This error isn't present without Polly and the Puppeteer adapter.

I can provide more details upon request, but I'm unsure on what I need to share to diagnose this issue right now.

T

[2018-12-14 19:02] offirgolan commented on #149
@2xAA if you can post the following:

- All your @pollyjs package versions
- Puppeteer version
- Polly config
- Your test code (if possible)

[2018-12-17 15:58] 2xAA commented on #149
We decided not to use Polly in our project in the end. Using Puppeteer by itself provides enough functionality for us.

I doubt this issue would have been too helpful anyway as I'm unable to share the website we were testing or much of the test code.

Using the same test code with other websites didn't produce this error.

Setting the `requestResourceTypes`  array to use only `xhr` squished this e

[2018-12-21 07:13] jasonmit commented on #149
Closing for now since there isn't anything actionable.  We'll keep an eye out for this in the future.

[2019-01-04 09:51] maximou4391 opened #153 "Uncaught (in promise) TypeError: Illegal invocation"
Hello,
We are trying to record all the calls from our Angular webapp (to replay them to be able to disconnect from our backend basically for dev purposes).
To do this we have made a static js page where we create the pollyjs instance and put it in window object (to stop it later). Then we launch and record the first call that will return a JSP (that contains the angular <app> tag), we replace the

[2019-01-05 06:12] jasonmit commented on #153
Nothing really comes to mind.  This is the first time I've heard of this.

Any chance you can share the bundle?

[2019-01-07 19:58] offirgolan commented on #153
From the given stack trace, it looks like the issue is coming from within the fakeXhr send method. Can you step in there to see which line its failing on?

![screen shot 2019-01-07 at 11 57 16 am](https://user-images.githubusercontent.com/575938/50790317-7bdb0100-1273-11e9-9321-7fb1ec143c5c.png)

[2019-01-07 21:53] #120 closed

[2019-01-08 10:31] maximou4391 commented on #153
Hi @offirgolan,
I put a screenshot of the line in my first comment. I will try to do a live example as soon as possible.

Regards,

Maxime.

[2019-01-08 22:55] jasonmit opened #155 "CI: Fix Node 6 support"
https://travis-ci.org/Netflix/pollyjs/jobs/477047132

[2019-01-09 04:11] timpur opened #156 "Node HTTP Request adapter with Request js lib ECONNREFUSED Issue"
@yasinuslu or @offirgolan did you ever test a POST request using https://github.com/request/request, i get `Error: connect ECONNREFUSED 127.0.0.1:4000` even though polly responds with `Replayed ➞ POST http://localhost:4000/`

Not sure what logs would be more use full for you guys ?

Will post if i make any progress on this. Thanks

[2019-01-09 08:31] jasonmit commented on #155
https://github.com/request/request-promise-native/pull/32

[2019-01-09 21:16] offirgolan commented on #156
@timpur any chance you can create a reproduction that I can play around with?

[2019-01-11 00:54] ericclemmons opened #158 "Replaying authorized requests?"
Going off of the [jest-example](https://github.com/Netflix/pollyjs/blob/master/examples/jest-node-fetch/__tests__/index.test.js), I started using PollyJS in a project:

[code]

I confirmed that the above setup, records what I'd expect to a HAR file (with the exception of the OAUTH token call, for whatever reason).

But, if I remove the `context.authenticate` call, then none of the calls replay and

[2019-01-11 01:18] ericclemmons opened #159 "Record outside of test context?"
I'm looking to record/replay by request, which means **`REPLAY` outside of tests**.

But, it seems that _recording does not work outside of a test environment_!

Here's what I did: I moved the setup from `setupPolly` to `src/index.js`, and the tests run, but no recordings are created.

[code]

<details>
<summary>
You can see that logging shows `Recording`, but nothing is persisted to the filesyste

[2019-01-11 04:49] offirgolan commented on #159
You need to make sure you call `await polly.stop()` for it to persister the recorded requests to the fs.

[2019-01-11 04:51] ericclemmons commented on #159
I'll give it a shot.

I'm curious why flush doesn't do that as well?

(I'll be starting it up again right after the files are persisted)

On Thu, Jan 10, 2019, 8:49 PM Offir Golan <notifications@github.com wrote:

[2019-01-11 04:54] offirgolan commented on #158
I believe thats because `setupPolly` create a new polly instance in a `beforeEach` hook which runs after the `beforeAll` hook you have. That means that the authentication request never gets picked up by Polly. Can you try changing your `beforeAll` to `beforeEach`?

[2019-01-11 04:56] ericclemmons commented on #158
Great idea!  I'll give it a shot!

That would explain why I couldn't reproduce it in a sample repo...

On Thu, Jan 10, 2019, 8:54 PM Offir Golan <notifications@github.com wrote:

[2019-01-11 18:17] ericclemmons commented on #158
Yep, using `beforeEach` was the trick. Thanks!

[2019-01-11 18:17] #158 closed

[2019-01-11 18:18] ericclemmons commented on #159
And sure enough, the docs have a callout for this:
https://netflix.github.io/pollyjs/#/api?id=stop-1

I naively assumed that recordings were written as they came in.

[2019-01-11 18:18] #159 closed

[2019-01-13 21:45] timpur commented on #156
Yeah I can do that :)

[2019-01-14 17:48] jasonmit commented on #155
Yes but wouldn't fix for consumers, so didn't take that approach.

[2019-01-15 15:55] strax opened #161 "adapter-node-http: Passthrough requests are made twice when intercepted"
When `adapter-node-http` is connected and the client server is used to intercept and passthrough requests, the passthrough requests are fired two times. I suspect this is because the original request created in https://github.com/Netflix/pollyjs/blob/master/packages/%40pollyjs/adapter-node-http/src/-private/transport-wrapper.js#L212 has a real socket attached and it is not destroyed when passthrou

[2019-01-15 17:17] dustinsoftware commented on #161
I just ran into this as well, hadn't investigated a fix yet.

[2019-01-16 18:37] offirgolan commented on #161
Released with `v1.4.2`.

[2019-01-16 18:38] offirgolan commented on #156
@timpur can you see if `v1.4.2` fixes this for you?

[2019-01-18 05:05] rahulrana95 commented on #156
This might be issue that something else running on same port

[2019-01-19 12:39] timpur commented on #156
i still need to make a test repo, will retest this thanks.

[2019-01-21 07:42] strax commented on #161
It seems that #162 did not actually resolve this issue as I'm still seeing duplicate requests being _sent_ with `v1.4.2`. No data to the original socket should be sent when a second request is made (and a new socket is opened) when passing through.

[2019-01-21 18:58] offirgolan commented on #161
Hm ok, I'm gonna need to figure out the best way around this. Gonna leave this issue open until we have a working solution. Thanks for testing out the latest release @strax.

[2019-01-23 15:35] feinoujc opened #164 "adapter-node-http: expired recordings fail on navigator not defined"
polly fails in node environments when a recording is expired

[code]

I believe it the issue is this codepath https://github.com/Netflix/pollyjs/blob/12c86017cd3bbb7a782a32c848c3acb95af69986/packages/%40pollyjs/adapter/src/index.js#L68

[2019-01-23 17:37] #164 closed

[2019-01-25 06:08] offirgolan commented on #161
@strax could you give #166 a shot and see if that solves all your issues?

[2019-01-28 07:37] strax commented on #161
@offirgolan yes, it seems #166 fixes this issue 🎉

[2019-01-28 19:12] dustinsoftware commented on #161
@offirgolan just confirmed that 30ff3f265d02d4d1a8ba606707ba5341610eb61c fixes the issue for me as well 🎉

[2019-01-29 17:53] offirgolan commented on #161
Released with `v2.0.0`.

[2019-01-29 18:50] offirgolan commented on #109
This can now be achieved using the `node-http` adapter. Im gonna go ahead and close this issue. Feel free to reopen if needed.

[2019-01-29 18:50] #109 closed

[2019-01-29 19:26] dustinsoftware commented on #114
@jasonmit @offirgolan would you be open to a PR that exposes an option for more verbose logging for these types of failures?

More verbose output could look something like:

[code]

[code]

[2019-01-31 14:56] feinoujc opened #174 "[adapter-node-http] headers are string arrays"
I noticed the the request headers are string arrays when using the adapter-node-http, which is different than the other adapters (fetch). Was this intentional? Could see an argument either way, but it would be nice if the `Request` abstraction could smooth over differences between adapters

[code]

[2019-01-31 19:53] cameck opened #175 "Question: Is there a way to exclude headers from being recorded?"
I see there are a few ways to exclude specific headers from requesting matching e.g.
[code]

I'm wondering if there is a way to tell Polly not to record excluded headers?

[2019-01-31 19:57] offirgolan commented on #175
Are you trying to remove request or response headers? or both?

[2019-01-31 20:00] cameck commented on #175
Both if possible

[2019-01-31 20:44] offirgolan commented on #175
You have a few options:

- Use the `request` & `beforeResponse` events to remove the headers from the request/response before they are sent out or received
- Use the `beforePersist` event to remove it from the will-be persisted recording so that next time it's replayed, the headers will no longer be sent.

[code]

[2019-01-31 21:22] offirgolan commented on #174
@feinoujc the headers were intensionally left as-is and not normalized since node treats array values a bit differently (see [here](https://nodejs.org/api/http.html#http_request_setheader_name_value)).

[code]

[code]

If all the header values are arrays, including single values, we can normalize that a bit so it's just a single string. Let me know if that's the case here.

[2019-01-31 22:00] feinoujc commented on #174
as long as it was intentional, I understand the reasoning 👍

[2019-01-31 22:00] #174 closed

[2019-01-31 22:05] #114 closed

[2019-01-31 22:53] cameck commented on #175
`beforePersist` sounds like what I need. Thanks so much, I'm going to go play with this now.

[2019-01-31 23:08] cameck commented on #175
Not sure if this is the best way to do it, but I got it working like so:
[code]

Thanks 🙌 !

[2019-01-31 23:08] #175 closed

[2019-01-31 23:11] offirgolan commented on #175
Np! Setting it to an empty string will still send the header in the next release (see #176). I would suggest removing the header from the array entirely.

[code]

[2019-02-11 09:07] mrednic opened #181 "Need info to be logged when record not found"
Hello guys,
Pollyjs is throwing an error when a record is not found. In my use case it's not enough.

I am using pollyjs to record and replay requests in an application. In the application I have a general mechanism to catch all the errors and this is capturing also the errors thrown when the record is not found which is the expected behavior.
The pollyjs instance is created on a separate app used

[2019-02-13 21:58] offirgolan commented on #181
@mrednic I've been thinking a bit about this. The solution I came up with would be something like this:

[code]

I have an implementation of it that is almost complete, just need to fully test it out 😄

[2019-02-14 07:32] mrednic commented on #181
@offirgolan Thank you for your investigation. The solution listed above will be exactly what I need to cover the use case.

[2019-02-15 02:59] jasonmit commented on #155
FYI, this should now be resolved.  Upstream bug fixed.

[2019-02-18 03:28] offirgolan commented on #117
Looking more into this, even if we add `.md` to the relative paths, those specified paths are still absolute to the docs directory which is what docsify depends on and thus still wont work on github. Unfortunately, I dont think this is something we can easily solve 😞.

[2019-02-18 03:28] #117 closed

[2019-02-18 03:29] offirgolan commented on #156
@timpur any more info on this?

[2019-02-18 03:31] offirgolan commented on #153
@maximou4391 any updates on this?

[2019-02-18 03:34] offirgolan opened #183 "Support binary response data in XHR & Fetch adapters"
Properly support recording and responding with received binary data in the XHR and Fetch adapters.

[2019-02-18 03:35] offirgolan commented on #145
I've created #183 in order to better track this issue. I'm gonna go ahead and close this in favor of the other. Feel free to reopen if you have any further questions.

[2019-02-18 03:35] #145 closed

[2019-02-18 05:34] offirgolan commented on #85
Since the release of the node-http-adapter with the usage of fs-persister this should no longer be an issue when using Jest. I'm gonna go ahead and close this issue, feel free to reopen if needed.

[2019-02-18 05:34] #85 closed

[2019-02-18 09:52] maximou4391 commented on #153
Hello @offirgolan,
Sorry for the late answer, finally instead of a static JS page we put a first angular app (a different one than the main one) which create the polly instance and start the record and we don't have the error anymore.
You can close the issue it's working quite well like this,

Thanks and have a good week.

[2019-02-18 17:52] #153 closed

[2019-02-20 02:39] #181 closed

[2019-02-20 22:35] timpur commented on #156
@offirgolan https://github.com/timpur/bug-pollyjs-node just run `npm test`

Hope you guys can solve :)

[2019-02-20 23:13] offirgolan commented on #156
@timpur I was not able to recreate your issue with the steps taken below:

1. Clone repo
2. Bump all @pollyjs dependencies to latest
3. Run `npm test` --> `Recorded ➞ GET https://reqres.in/api/users 200 • 70ms`
4. Run `npm test` --> `Replayed ➞ GET https://reqres.in/api/users 200 • 2ms`
5. Disconnect from internet
6. Run `npm test` --> `Replayed ➞ GET https://reqres.in/api/users 200 • 2ms`

[2019-02-20 23:18] offirgolan commented on #156
Version 2.0.0+ of the node-http adapter has a completely new implementation than its predecessor so thats where I suspect the issue is coming from. My suggestion is to upgrade all your @pollyjs packages which should solve your issue.

[2019-02-22 01:06] ludbek opened #186 "passthrough localhost"
Is there a way to passthrough requests to localhost?

I am not being able to catch requests to localhost.

[code]

Hence I cannot do `server.any('http://127.0.0.1*path').passthrough()`

[2019-02-22 01:27] offirgolan commented on #186
@ludbek can you also provide the polly config that you're using?

[2019-02-22 01:32] offirgolan commented on #186
Also, can you try the following and see if that works out for you:

[code]

[2019-02-22 02:24] ludbek commented on #186
It does not work.

Here is the config I am using.

[code]

[2019-02-22 03:43] offirgolan commented on #186
Ah, can you try adding the port? The way you have it setup, it will match: `http://127.0.0.1/auth/login`

[code]

[2019-02-22 03:51] ludbek commented on #186
I am using `supertest` and I believe the port is generated randomly.

I was hopping `http://127.0.0.1*path` would match the port too.

Alternatively is there a way to tell `Polly` to record requests to specific host or api?

[2019-02-22 04:21] offirgolan commented on #186
Hmmm, looking at the codebase, you should be able to access the full url used by supertest. See [here](https://github.com/visionmedia/supertest/blob/1792d7d91e276362c48c09fee1781f246a21605b/lib/test.js#L34).

[code]

Yup! You should be able to do it like this:

[code]

[2019-02-22 04:48] ludbek commented on #186
Works like a charm. Thanks for helping out.

[2019-02-22 04:48] #186 closed

[2019-02-22 05:45] offirgolan commented on #186
No problem 😄!

[2019-02-23 04:40] timpur commented on #156
@offirgolan thanks, will confirm and get back to you :)

[2019-02-23 04:51] timpur commented on #156
Confirmed

All works as expected :)

[2019-02-23 04:51] #156 closed

[2019-02-25 16:33] NikhilVerma opened #188 "Request: DefinitelyTyped Typings for @pollyjs/node-server"
## Description

PollyJS is missing typings for @pollyjs/node-server. Can we please have them so that any custom Node servers can be typed as well?

I've already checked https://github.com/Netflix/pollyjs/issues/129 and https://github.com/DefinitelyTyped/DefinitelyTyped/pull/30574 however they didn't include typings for the server.

Thanks! ❤️

[2019-03-05 16:51] filipeamoreira opened #190 "Headers are not being recorded or sent correctly"
## Description

When using the `fetch` adapter and the `rest` persister, headers don't seem to be persisted correctly. More specifically the persisted HAR file looks like this:
[code]

When this request is replayed, the headers are set like this:

<img width="954" alt="20190305_headers" src="https://user-images.githubusercontent.com/8424/53821407-a4c2fe00-3f65-11e9-9403-5954390494c3.png">

Therefo

[2019-03-05 18:59] offirgolan commented on #190
Thanks for the detailed issue as well as the reproduction @filipeamoreira. I was able to find the culprit and will publish a fix hopefully in the next few hours.

[2019-03-06 04:24] #190 closed

[2019-03-06 12:03] filipeamoreira commented on #190
Thank you @offirgolan for the quick turn around on the fix.

[2019-03-07 21:25] shankarsridhar opened #192 "Always makes unwanted http requests to API, instead of using existing recording"
When I rerun acceptance tests, my recordings are updated every time. It seems to me like the `expiresIn` option is not working. Am I missing anything obvious here w.r.t adding the config ?

I am using the `"@pollyjs/ember"` version `2.3.1` ember addon to use pollyjs in my ember app.

I have the following config entry in my `ember-cli-build.js`
[code]

Entry from `package.json`:
[code]

## Environm

[2019-03-07 21:54] offirgolan commented on #192
@shankarsridhar do the request id's change from each run of the acceptance tests? The ids can be found in the recorded har file under `entries[{ _id: '1234abcd'}]`. If not, try removing the `expiresIn` config option. If that fixes it, then I can try to figure out why `expiresIn` is not working as expected.

[2019-03-07 23:06] ericbiewener commented on #92
I find that this issue occurs if my test finishes before the polly request completes (in my use case, I don't care about the results of the request). I'm using `setup-polly-jest` and calling `polly.flush()` in Jest's `afterEach()` setup method seems to do the trick:

[code]

[2019-03-08 22:17] shankarsridhar commented on #192
@offirgolan, Thanks for the suggestion.
New Object gets created under `log.entries` array, every time I rerun my acceptance test. I removed the `expiresIn` config option. But still I'm seeing the same issue.

[2019-03-11 13:48] skimi opened #193 "Need to regenerate records if `matchRequestsBy` changes"
## Description

If I understand things correctly, having the `id` hardcoded in the `har` files makes it so that when `matchRequestBy` changes no entry is valid. The recordings are in fact still viable but since the id is generated based on `matchRequestBy` all recordings need to be recreated.

That becomes a big problem when you have a lot of recordings, even the slightest change to `matchRequestB

[2019-03-11 14:22] badsyntax commented on #183
I'm not sure this helps at all, maybe it's helpful for others, but i'm able to work with binary requests with `@pollyjs/core@^1.4.1` and `@pollyjs/adapter-fetch@1.2.0`.

[2019-03-11 17:31] offirgolan commented on #193
The request id that is associated with each HAR entry is required to determine which entry belongs to which request as multiple configuration options can dictate how they are matched.

The ID is an md5 hash of all the values that you've opted into via the `matchRequestsBy` configuration options. If a value changes (e.g. a query param or a header) then the id would change accordingly.

Polly is sma

[2019-03-11 17:37] offirgolan commented on #192
@shankarsridhar the configuration options you've set in the `ember-cli-build.js` file are for the configuration of the addon itself as well as the express server middleware that we attach. Instead you want to add the configuration option when calling [setupPolly](https://netflix.github.io/pollyjs/#/test-frameworks/qunit).

[code]

This might be due to having some dynamic headers like dates or uuid

[2019-03-11 17:53] offirgolan commented on #183
@badsyntax binary requests or responses?

[2019-03-12 07:36] badsyntax commented on #183
@offirgolan The following works with the versions i've mentioned (ignoring the `cy.fixture` part, this is part of Cypress, and it's just a helper to get contents of a fixture file):

[code]

With `@pollyjs/core@^2.3.0` and `@pollyjs/adapter-fetch@^2.3.1`, an error is thrown on the following line:

[code]

The error is:

[code]

[2019-03-12 08:21] skimi commented on #193
The config looks like this.

It's written as to ignore user specific params in the request like the authorization and restaurantId.
Pollyjs allows me to completely ignore what user (or restaurant in my case) you are using to run your test. So dev-A might be using the user1 in his test config and dev-B might be using user2 but since pollyjs ignores those things with `matchRequestsBy` anything recor

[2019-03-12 16:46] offirgolan commented on #183
@badsyntax this issue is in regards to adding proper support for binary responses from a server, not the intercept method (e.g. recording an image from the server).

Would you mind creating a separate issue with your previous comment so we can properly track it? If you can also include an example of what `fixture` is, that would be super useful.

[2019-03-12 16:50] badsyntax commented on #183
I got the impression it was related. I'll create a seperate ticket.

[2019-03-12 22:02] offirgolan commented on #193
I would recommend normalizing these data points instead of just ignoring them. Doing so should create a much more stable test environment and would reduce the chances of generating different recorded datasets.

[code]

After reading this, I now understand what your original issue is. Unfortunately, there is no way to really get around this as the ID acts as a unique identifier to the actual reques

[2019-03-13 10:27] skimi commented on #193
The `matchRequestsBy` isn't changing that much but it can. Sometimes.

In this case, we've added graphql endpoints so I had to add the line `body: ignoreRestaurantIdInGraphQl` in the matchRequestBy to keep ignoring the restaurant.
It does exactly what you laid out in your snippet and removes a variable.
That is rare but just changing that parameter meant that all previously recorded calls to REST

[2019-03-13 22:02] shankarsridhar commented on #192
Thanks @offirgolan I played around with the config option to `setupPolly`and I was able to get it working like I wanted.

In case you are curious, this was the config that worked for me:
[code]

[2019-03-13 22:06] offirgolan commented on #192
Np! Glad it worked out 😄

[2019-03-13 22:06] #192 closed

[2019-03-14 11:25] badsyntax commented on #183
Hi @offirgolan After spending some time getting a proper test case together to demonstrate this, i've realised that the error I mentioned is a result of using Polly.js within Cypress. The error originates form Polly code but could be due to something Cypress is doing. I'm unable to generate the error outside of Cypress. Really sorry for highjacking this issue. Would you still find it useful for me

[2019-03-26 14:31] kennydp opened #195 "Headless chrome always rerecords requests"
## Description

I have an issue when recording requests on a browser and then running tests in another browser. My requests get replayed correctly and consistently as long as I'm in the same browser. Not sure if that is the actual issue or if I'm drawing the wrong conclusion. The use case I have is I record my requests while running tests in the browser (I need to be logged in so that makes it a l

[2019-03-26 22:00] jasonmit commented on #195
It seems you're on an older version, have you tried upgrading?  If so, between recordings can you share what has actually changed within the har file? (i.e., `git diff`)

[2019-03-27 09:23] kennydp commented on #195
Seems like updating to the latest version did the trick. Thanks for pointing that out 👍

[2019-03-27 09:23] #195 closed

[2019-04-03 09:05] Ekman commented on #28
@jasonmit any status updates on this?

[2019-04-04 06:02] jasonmit commented on #28
@Ekman no update, I haven't revisited after fixing Edge.  We also need to setup a Windows CI environment.

[2019-04-04 22:38] offirgolan commented on #183
Yeah, I'm starting to work a bit more with cypress and would love a reproduction to play around in. If you can create a new issue with it that would be great!

[2019-04-04 22:47] offirgolan commented on #193
They already are. The ID is generated every time a request goes through Polly and is stored with the recording. When a new request comes in, Polly generates an ID for it and sees if it matches any existing one that was recorded.

Is this because the test cases are mutating the database on each test run without doing any cleanup to restore it to its previous state? Or is this because you have test

[2019-04-09 01:35] alexlafroscia opened #196 "feature: provider alternate logger"
## Description

I'd like to be able to override the method use to log to the console. Rather than assuming we always want to call `console.log`, it would be cool if that is a default but overridable with a user-provided function with some given signature.

One use-case is logging the mocked requests into the Cypress command log, so that it's clear what is going on in Polly during your tests. https

[2019-04-09 05:33] scotthovestadt commented on #149
FYI this happens because of CSP errors and can be resolved with:
[code]

[2019-04-09 06:59] jasonmit commented on #149
@scotthovestadt do you know in what scenario this happens?  Any chance you can PR a fail test for https://github.com/Netflix/pollyjs/blob/master/packages/%40pollyjs/adapter-puppeteer/tests/integration/adapter-test.js

[2019-04-09 07:49] scotthovestadt commented on #149
An easy way to reproduce it is to just open the console on github.com (this page works fine) and enter:
[code]

<img width="555" alt="Screen Shot 2019-04-09 at 12 41 02 AM" src="https://user-images.githubusercontent.com/1831484/55781965-2d025a80-5a60-11e9-8239-02a07f52d686.png">

This shows in the console as:
[code]

It's triggered by the following header:
[code]

I'll look into setting up a fail

[2019-04-09 19:28] jasonmit commented on #149
@scotthovestadt I agree with adding a warning the documentation.

However, I'm a bit confused.  If the CSP rules do not account for a hostname you're trying to reach then I'd except the CSP violation with or without Polly being present.

[2019-04-09 20:50] scotthovestadt commented on #149
It's not trying to `fetch` the resources by itself, that's done by Polly:
https://github.com/Netflix/pollyjs/blob/master/packages/%40pollyjs/adapter-puppeteer/src/index.js#L179

Ordinarily the favico would be loaded "normally" but it's proxied through `fetch` and then fails because of CSP.

[2019-04-09 21:11] jasonmit commented on #149
This sounds like a bug where non-xhr requests are being picked up via Polly.  The expectation would be Polly wouldn't be proxying these sorts of resource requests.  We'll need to investigate why that's happening.

[2019-04-09 21:50] scotthovestadt commented on #149
Likely related to:
https://github.com/Netflix/pollyjs/blob/master/packages/%40pollyjs/adapter-puppeteer/src/index.js#L17

[2019-04-09 22:34] jasonmit commented on #149
@scotthovestadt yeah, exactly! Will be resolved by https://github.com/Netflix/pollyjs/pull/197

Thanks for bringing all this context to the discussion, super helpful.

[2019-04-09 22:39] scotthovestadt commented on #149
Glad I could help!

[2019-04-09 22:45] #149 closed

[2019-04-11 08:28] utkarsh2102 opened #198 "Package pollyjs for Debian repositories?"
Debian ships over 50k packages and is one of the widely used operating system.
I believe, it would be wonderful to package pollyjs for Debian repositories so that it is also `apt install` away :)

[2019-04-15 08:02] jasonmit commented on #198
I don't see the value in managing/shipping a debian package

If using Pollyjs then you probably have node installed and if you have node installed then you have npm installed and can `npm i -g @pollyjs/core`.

[2019-04-15 08:02] #198 closed

[2019-04-15 17:12] bokece opened #199 "`Error: [Polly] [adapter:xhr] XHR global not found.`"
## Description
I use TestCafe for the execution of my tests but i get the following error even if the XHR adapter is registered.

Should polly.js be compatible with TestCafe?
I have tried to find other users with similar error but no results.

`Error: [Polly] [adapter:xhr] XHR global not found.`

### Error Message & Stack Trace

[code]

### Config

Copy the config used to setup the Polly instance:

[2019-04-18 08:05] cclauss opened #200 ".travis.yml: The 'sudo' tag is now deprecated in Travis CI"
[Travis are now recommending removing the __sudo__ tag](https://blog.travis-ci.com/2018-11-19-required-linux-infrastructure-migration).

"_If you currently specify __sudo: false__ in your __.travis.yml__, we recommend removing that configuration_"

[2019-04-18 16:41] #200 closed

[2019-04-23 20:19] marat-chardymov opened #203 "How to record only external requests?"
I'm trying to use pollyjs to test express js endpoint. It works fine until record is persisted to file. After that it just skips actual app code, so that test becomes always green. I assume this is because localhost(127.0.0.1) request/response is being intercepted by polly. Is it possible to record only external requests to prevent this?

**app.js**:
[code]
**polly_config.js**:
[code]
**app.spec.j

[2019-04-23 20:46] offirgolan commented on #199
Im not familiar with TestCafe but I'm assuming that the browser context is not within the same one as the one the polly instance is running on. The fetch adapter currently supports passing it a context:

[code]

Where the `context` is where polly should fine the necessary globals to override. Does TestCafe give you access to the running browser window?

[2019-04-23 20:52] offirgolan commented on #203
@marat-chardymov I'm not entirely sure what you're trying to achieve here.

Thats what Polly does. It records the response if it doesnt have it on disk and the 2nd time you run your test, it will use the recorded response instead of making another request (or reaching your route app code).

[2019-04-23 21:00] offirgolan opened #204 "Support `context` option on the XHR Adapter"
Add support for mocking the XHR global on a given context (like we currently support with the fetch adapter).

[code]

[2019-04-23 21:01] offirgolan commented on #204
Blocked by sinonjs/nise#84.

[2019-04-23 21:09] marat-chardymov commented on #203
I mean no code inside express callback will be executed after polly created har file
[code]
So if I change logic inside router callback and start returning say 500 code, test will remain green. In VCR gem for example I can exclude localhost requests using https://www.rubydoc.info/github/vcr/vcr/VCR%2FConfiguration:ignore_request option

[2019-04-24 05:57] offirgolan commented on #203
You can exclude any host or path via the provided [client-side server](https://netflix.github.io/pollyjs/#/server/overview) on the polly instance.

[code]

[2019-04-24 13:58] marat-chardymov commented on #203
It worked, thank you @offirgolan . But can I apply passthrough for localhost requests globally, for any Polly instance? Currently I got one Polly instance per har file(cassette):
[code]

[2019-04-24 18:15] offirgolan commented on #203
If you're using mocha, I highly recommend using the [`setupMocha` test helper](https://netflix.github.io/pollyjs/#/test-frameworks/mocha).

[code]

[2019-04-24 19:59] marat-chardymov commented on #203
small note: seems that `setupMocha` requires to use `async function()` definition for tests instead of arrow functions `()=>`, since **setupPolly** relies on `this` context which in undefined inside arrow function? I know its kind of unrelated to the initial issue but folders generated by `setupMocha` look strange when `describe` text contains colons:
[code]
![image](https://user-images.githubuser

[2019-04-24 20:21] offirgolan commented on #203
Correct. I'm gonna go ahead and close this issue. Feel free to reopen or create a new one if you have any more questions.

[2019-04-24 20:21] #203 closed

[2019-04-25 23:18] yarivkenan commented on #19
let me just put that here https://github.com/smooth-code/jest-puppeteer.

[2019-05-03 08:15] skimi commented on #193
What I mean by `when pollyjs starts` is when the persister is instantiated. At that time it could generate the id for all its records (might be long, don't know). That way the id would always be generated with the latest `matchRequestsBy` config.

Since the `har` file is a raw recording of the request it would still have all the necessary information needed to generate a new ID that would match th

[2019-05-06 20:59] ericbiewener opened #206 "Allow renaming of recording.har file"
Rather than generating a directory named with the [`recordingName`](https://netflix.github.io/pollyjs/#/api?id=recordingname) and then a `recording.har` file inside that, I'd prefer to just have the `recording.har` file named with `recordingName`, thus removing the additional directory depth.

[2019-05-07 21:27] NikolasMsomething opened #207 "Adapters do not understand Gzipped response"
## Description

Just as preface we are using Jest and setupPollyJest for our testing environment. It seems that `@pollyjs/adapter-node-http` is not returning the .json() promise of a response that's gzipped.

When we do a node-fetch call without polly
[code]
when we `console.log` a gzipped or non-gzipped response

[code]
we get the json object back as expected.

When we integrate polly + `@pollyjs

[2019-05-09 01:37] offirgolan commented on #206
Do you have any specific reason as to why besides personal preference?

[2019-05-09 01:38] offirgolan commented on #207
@NikolasMsomething can you create a reproduction for me to debug with? That would really help in figuring out what the underlying issue is.

[2019-05-09 02:53] ericbiewener commented on #206
Nope! Obviously not a critical feature request :)

[2019-05-10 22:08] NikolasMsomething commented on #207
Thank you so much for the fast response @offirgolan! I will get a reproduction to you in the coming couple of days. Cheers.

[2019-05-13 15:12] NikolasMsomething commented on #207
Hello @offirgolan ! Here is a [repository you can fork](https://github.com/NikolasMsomething/test-environment-for-netflix) that almost identically mimics what dependencies I have in my development environment. If you run `yarn test:refresh` it will blow up any past recordings and make subsequent calls for the gzipped response. Any code regarding the actual API call lies in **src/ApiUtil.js** while

[2019-05-13 16:22] offirgolan commented on #207
@NikolasMsomething thanks for creating the reproduction. I ran the test suite and the test you've provided passed.

[code]

The issue could be with the node version you're on since we only test maintained LTS versions. I'll try running the test on v10.9.0 and see if I can reproduce it there.

[2019-05-13 16:32] NikolasMsomething commented on #207
Hello again @offirgolan . I made a very slight mistake when reproducing the problem , but i changed something back that now I think may definitely reproduce it for you. I just pushed the changes up now. What is different is I am now capturing the response.json() found in **src/ApiUtil** in a variable and trying to log that instead. Thanks for the help and sorry about that!

[2019-05-16 11:50] BoruiGu opened #208 "[jest-puppeteer] Protocol error (Runtime.callFunctionOn): Target closed"
## Description

Rep:

- clone jest-puppeteer example https://github.com/Netflix/pollyjs/tree/master/examples/jest-puppeteer
- run `yarn`
- run `yarn test`

### Error Message & Stack Trace

[code]

## Environment

[code]

[2019-05-16 22:42] offirgolan commented on #208
@BoruiGu Thank you for bringing this to our attention. I'll investigate this further and see what could be causing this.

[2019-05-17 03:06] jackson-sandland opened #209 "Only able to record requests made to Selenium - no network requests made in browser are recorded"
I'm using `Polly` with `webdriverIO, mocha, and chai`.

I'm able to record the network requests to selenium but I thought I'd be able to record all of the requests made when my test runs.

**Here is the code:**
[code]

**This is my polly config**:
[code]

**I can see the output in the specified directory but the only requests are to**: `http://127.0.0.1:4444/wd/hub/session/d462c68163ebc4c09526a3f9

[2019-05-18 10:55] claudijo commented on #186
An alternative to:
[code]

as described by @offirgolan, if you want to only passthrough requests to 127.0.0.1 with an arbitrary port number and not having to worry about keeping track of what requests you don't want to passthrough, would be to use [`server.filter()`](https://netflix.github.io/pollyjs/#/server/route-handler?id=filter) eg:
[code]

[2019-05-18 19:31] jasonmit commented on #209
I'm not familiar with this setup but I think that there are two different contexts here: one is your test runner and the other is `browser`.  In order for this to work, you'll need some way of injecting Polly into `browser` and also be able to communicate with that instance of Polly from within your test context.

[2019-05-22 13:25] oakho opened #210 "Crashing when using pollyjs with ember and mocha"
## Description
Using pollyjs inside an up to date ember app with mocha as a testing framework is always crashing in afterEach hook with a `TypeError: Cannot read property 'stop' of undefined`.

### Shareable Source

[code]

### Error Message & Stack Trace

[code]

### Dependencies

[code]

## Relevant Links

Here is an app with a basic setup so you can repro easily : https://github.com/oakho/polly

[2019-05-22 13:44] oakho commented on #210
As a workaround, I found that only call `setupPolly.beforeEach` while explicitly stopping polly in the test case will work :

[code]

[2019-05-24 12:57] claudijo opened #211 "Cannot read property 'shouldPassthrough' of undefined"
Trying to run polly.JS (v2.3.0) with a puppeteer (v1.17.0 ) and puppeteer adapter (v2.4.0), I get the following error:

[code]

Looking at the related code from the above error message (https://github.com/Netflix/pollyjs/blob/master/packages/%40pollyjs/adapter/src/index.js#L127) I can´t see that the [`_interceptor` property](https://github.com/Netflix/pollyjs/blob/master/packages/%40pollyjs/adapte

[2019-05-28 20:16] offirgolan commented on #211
@claudijo can you upgrade all your @pollyjs packages to their latest version? That should resolve this issue.

[2019-05-28 23:34] offirgolan commented on #208
@BoruiGu this should now be resolved with 8ade90d5fe0f.

[2019-05-28 23:34] #208 closed

[2019-05-29 04:56] jasonmit commented on #210
https://github.com/emberjs/ember-mocha/blob/master/addon-test-support/ember-mocha/setup-test.js#L40-L54 is wiping out the context object that the Polly object is hanging from.  We'll need to introduce something that will work with ember-mocha's `hooks` object that `setupApplicationTest` returns.

Until that lands, continue with your approach.

[2019-05-29 05:04] jasonmit commented on #210
@oakho I was able to verify this works as expected.  Perhaps this could be something we highlight in our docs for other `ember-mocha` users.

[code]

[2019-05-29 17:08] #210 closed

[2019-05-29 18:48] jasonmit commented on #199
Closing as the issue went stale.

[2019-05-29 18:48] #199 closed

[2019-05-29 19:16] sdegutis opened #214 "Can this be used for replaying live data offline in the browser?"
I'm having trouble getting this to work, and I realize it might be because Polly.JS wasn't intended to be used the way I'm using it. So this is more of a question than a bug report or feature request.

Essentially, I'm trying to use Polly.js to help me work offline as if I'm online, by recording my front-end web app's responses while online, and replaying the responses while offline.

In more deta

[2019-05-29 19:18] sdegutis commented on #214
The issue I'm having in more detail is, it seems to be recording just fine to localStorage, as I see a `'pollyjs'` entry containing a HAR entry (JSON string). And this for the most part looks like the data I need it to replay when I'm offline. However, when I turn my wifi off and call `polly.replay()`, and verifying that XMLHttpRequest is still the faked out one, my web app *still tries to call ov

[2019-05-29 20:39] oakho commented on #210
@jasonmit thanks, that’s indeed fixing the issue !

[2019-05-30 23:33] offirgolan commented on #214
@sdegutis this is definitely a use-case that Polly attempts to solve and is something we use quite frequently.

Can you share some relevant code snippets here as well as your polly config object?

[2019-05-30 23:35] offirgolan commented on #207
@NikolasMsomething any update on this issue and/or the reproduction?

[2019-05-31 01:43] #209 closed

[2019-05-31 01:44] jasonmit commented on #196
Seems reasonable, I'd happily review/accept a PR for this.

[2019-05-31 17:27] sdegutis commented on #214
@offirgolan Sure, first near the beginning of my create-react-app (in the initial `index.tsx` file) I run:

[code]

I have a button to start recording, which runs:

[code]

The button to stop recording and start replaying runs this code:

[code]

This saves the JSON in local-storage properly, but it never replays responses during replay mode. Instead, in Safari's dev-tools it shows that it's actua

[2019-05-31 20:49] sdegutis commented on #214
I think I might know what's happening... I'm using the AWS JS SDK in the browser, which adds the `x-amz-date` header to requests, which is always different. If Polly.JS is hashing *all* the headers to get a unique key to store and lookup responses, it's probably considering them unique every time and never replaying old ones.

[2019-05-31 20:50] sdegutis commented on #214
It looks like my only option here is to set `matchRequestsBy.{headers,body}` to false, since I can't fine-grain control Polly.js to exclude only certain headers.

[2019-05-31 20:52] sdegutis commented on #214
Whoops, looked like I jumped the gun a bit on this one. Turns out you guys allowed `matchRequestBy.headers` to be an object or a function, both of which would work just fine for my case. Sorry for the noise.

[2019-05-31 22:05] offirgolan commented on #214
So there is one thing to note here. How the recording/replaying works is that when a new recording comes in, its placed in a "pending" bucket which doesnt get persisted until you call `await polly.stop()` which calls `await polly.persister.persist()` under the hood. Only once the new recordings are persisted, are they then accessible to be played back via `polly.replay()`.

In this specific scenar

[2019-06-01 15:48] sdegutis commented on #214
I only implied it but I tried polly.stop() and it didn't work. I also tried polly.persister.persist() and it wasn't working. I think it's more to do with finding the right combination of matchRequestBy options due to using AWS JS SDK which adds a lot of extra metadata to a request that makes it non-unique.

[2019-06-01 16:06] sdegutis commented on #214
Figured it out: I didn't recognize the `order` key but it is pretty significant in my case since I want the requests to be replayed regardless of record/replay order.

[2019-06-01 16:06] #214 closed

[2019-06-02 13:55] claudijo commented on #211
@offirgolan Ok. Thanks

[2019-06-03 05:19] #211 closed

[2019-06-03 21:52] sdegutis opened #215 "How do you debug why a request wasn't replayed?"
The issue:

When I replay a request that I know I've recorded, it's not found.

To debug it, I've done this:

1. Pass `logging: true` into the constructor.
2. Look in the console and found that a request is called "Recorded" when it should have said "Replayed".
3. Looked into the request's JavaScript properties to see if there was anything special about it that I didn't already see in the Network

[2019-06-06 14:10] freewind commented on #204
https://github.com/sinonjs/nise/pull/84 is merged

[2019-06-06 17:04] #204 closed

[2019-06-06 18:25] offirgolan commented on #215
@sdegutis most of the time the reason for requests not being correctly matched is due to some header key/value pair that is unique to that specific request. To find out what request attributes are used to generate the ID for the request, in the console, look for the `identifiers` object on the request instance. I would do a diff on these identifiers to see what has changed between each run.

[2019-06-06 18:44] sdegutis commented on #215
Thanks.

[2019-06-06 18:44] #215 closed

[2019-06-29 07:18] tombh opened #219 "Clarification on use of Local Storage"
In the docs section [Using Polly In The Browser](https://netflix.github.io/pollyjs/#/quick-start?id=using-polly-in-the-browser) it suggests that Local Storage is an alternative option to using the Rest persister. The implication seems to be that a browser's local storage can replace all the functionality of the Rest persister, however my immediate reaction to that is that HARs stored in the browse

[2019-06-29 17:45] jasonmit commented on #219
Correct.  The local storage is primarily for local, offline, support.

It's definitely not intended to replace the use cases of the rest or fs persisters.  If there's language throwing you off in the docs, please send a PR our way to correct it 🙏

[2019-06-29 23:27] #219 closed

[2019-07-02 20:11] iyubinest opened #222 "Mock GraphQL responses"
Is there any configuration needed for mocking GraphQL responses on React Native?
`fetch` is working well when recording, but Apollo client apparently does not work.

[2019-07-02 21:23] offirgolan commented on #222
We use Polly to intercept and mock GraphQL from both the browser (via fetch) and node (via node-http) with no additional configuration needed.

If the Apollo client is making its requests via `fetch`, then you might be initializing the Polly instance too late. Apollo might be keeping a reference to the original fetch method before Polly has a chance to replace it. Try moving the creation of the Po

[2019-07-02 23:30] iyubinest commented on #222
Thank you so much that did the work!

[2019-07-02 23:30] #222 closed

[2019-07-03 16:16] offirgolan commented on #207
@NikolasMsomething Im gonna go ahead and close this issue for now. Feel free to reopen if you're able to produce a working reproduction.

[2019-07-03 16:16] #207 closed

[2019-07-05 07:48] VikalpP opened #224 "Only intercept required requests and let pass others"
I just want to intercept the request for `https://jsonplaceholder.typicode.com/posts/*`.
It's working fine for request related to `posts`.

But when the network request fires for `https://jsonplaceholder.typicode.com/comments/1`, It fails with
 `(failed) net::ERR_FAILED`.

So, I'm just wondering why it stops network request for `comments`, while I've set up to intercept just for `posts`.

###  Sou

[2019-07-08 00:01] offirgolan commented on #224
By default, Polly's recording mode is set to `replay` which requires a persister to save requests. You can set the initial recording mode to `passthrough` like so:

[code]

[2019-07-08 00:14] VikalpP commented on #224
Thanks, that resolved my problem.

[2019-07-08 00:14] #224 closed

[2019-07-10 00:15] sankaritan opened #226 "feature: Allow Polly throwing an error if recording is expired"
## Feature proposal: Allow configuring Polly to fail if recordings are expired.

We have successfully migrated a few of our projects to Polly - and it worked great so far! One feature we're currently missing is the ability to fail the test in case the recordings get out of date.

The current logic allows to either keep using expired mocks or re-record them when expired.
While this is usually satis

[2019-07-10 02:34] offirgolan commented on #226
Thanks for opening up this issue @sankaritan! This enhancement makes a lot of sense and should be super easy to add. A PR would be greatly appreciated 😄.

For the sake of simplicity and backwards compatibility, I say we go with option **A**.

@jasonmit thoughts?

[2019-07-10 03:57] jasonmit commented on #226
I'm in favor but I'd prefer an event this way folks can choose how to implement it (throw, log, instrument, etc.)

[2019-07-10 18:22] jasonmit commented on #226
@sankaritan chatted with Offir we've aligned around `expiryStrategy`.

It will simplify the config and encapsulates two config options into one and eliminates confusion (i.e., `failIfExpired` is true and `recordIfMissing` is true).

I also believe we can achieve this in a backwards compatible way if we deprecate `recordIfMissing` and our config logic is updated to use the new strategy prop.

[2019-07-16 19:49] agraves opened #232 "running polly test suite (yarn test) uses a lot of CPU"
# Description

I've noticed that running `yarn test` is slow and uses a lot of CPU, making it difficult to run tests in a tight loop when TDDing. As configured, the testem suite runs a full `yarn test:clean` followed by a `yarn build test:build` for each of the submodules in the monorepo.

I've got a '17 mbp, and just running `$ yarn test` puts my load over 200 for a solid couple minutes. I also m

[2019-07-17 02:31] offirgolan commented on #232
@agraves thanks for opening up this issue! This is something i've been thinking about tackling for some time now and haven't been able to get around to it.

Yes, we encounter this problem 100% of the time as well and my workflow for testing is similar to the one you've come up with. I usually comment out parts of testem as well as modify the `mocha.opts` glob to only build the tests Im currently w

[2019-07-17 02:39] offirgolan opened #233 "In-Memory Persister"
## Description

Add a new `InMemory` persister that will store recording data for the lifetime of the polly instance.

Use-Cases:

- Testing Polly.JS internal APIs
- ...more to come

[2019-07-17 17:47] offirgolan commented on #226
Resolved in #227.

[2019-07-17 17:47] #226 closed

[2019-07-18 07:23] jasonmit commented on #233
Do you have any other use cases?  If not, I'm leaning towards not documenting & publishing the persister since I don't see how value outside of our test suite.

[2019-07-21 11:36] vitaly87 opened #238 "[Question] How to run Polly Codeceptjs"
Hi all!
I am trying to run codeceptjs  (webdriverio) with polly, I am getting error with:

My code is:
[code]

I have one more question if I want to record the rest and change it like I want to change only one attribute in response how can I do it? If its not possible how I reuse the mocks ? where they will be saved ?

thanks!

[2019-07-21 13:44] jasonmit commented on #238
I have no experience with codeceptjs however I can tell that your issue is similar to https://github.com/Netflix/pollyjs/issues/209#issuecomment-493701496 since `fetch` is not being discovered in the context in which you are instantiating Polly.

At the highest level, you would want to instantiate Polly within the context the app is running in instead of the test runners.  If you have a handle fro

[2019-07-21 18:56] vitaly87 commented on #238
So you mean that all Polly init start stop should be from browser scope like

  await I.executeScript(() => {
        Init Polly...
    });

That what you mean?

[2019-07-21 19:03] jasonmit commented on #238
@vitaly87 that may likely do the trick.  I cannot say for certain since I do not know the testing framework you're using.

[2019-07-22 08:24] vitaly87 commented on #238
what I did is something like this:

`     const polly = new Polly('Simple Example', {
                  adapters: ['fetch'], // Hook into `fetch`
                  adapterOptions: {
                      fetch: {
                          context: I.returnWindow()
                      }
                  },
                  persister: 'local-storage', // Read/write to/from local-storage

[2019-07-22 16:46] sankaritan commented on #91
@rahilvora Hey, we just published our preset we're using at Spotify https://github.com/spotify/polly-jest-presets. It's opinionated to our use-case: writing integration tests for web apps while abstracting them from the network communication.

Feel free to give it a shot and give us feedback!
We may add a browser one in the future, too.

[2019-07-23 06:58] jasonmit commented on #238
It's hard to tell what is causing the CORs issue.  Can you share the full error msg without the stripped out URL `"https...."`?  Since you're using the local storage persister, and not the REST persister, I'm unsure what is making external requests from your application.

[2019-07-23 08:59] vitaly87 commented on #238
OK looks like what I was missing is to wait for window to be ready
[code]
 but now I am having this :

     [Polly] [adapter:fetch] fetch global not found.`

[2019-07-24 15:52] jasonmit commented on #238
`wind.fetch` must then be undefined.

[2019-07-26 05:19] lwouis opened #240 "Handle long-polling requests"
## Description

I'm using Firestore in my project. Firestore seems to use long-polling on HTTP GET requests to provide its real-time updates. This means firestore js library (i'm using angularfire2) first makes a POST request to firestore servers. That one is fine. Then it does a GET request, which is kept open for a long time, around a minute. If you look at that GET request in Chrome's devtool,

[2019-07-26 10:26] vitaly87 commented on #238
OK I did simply flow but now getting

 Converting circular structure to JSON

My code looks like this

[code]

[2019-07-26 16:12] jasonmit commented on #238
Can you repost, I think you left off a portion of the error msg.

[2019-07-26 17:26] jasonmit commented on #240
To avoid us having to try and replicate your projects setup and go through the motions of setting up firebase, can you share with us the project or create a reproduction of the issue?

This will speed up our ability to triage.

[2019-07-27 05:33] lwouis commented on #240
@jasonmit I made a [public repo to reproduce](https://github.com/lwouis/github-issue-pollyjs). Just git clone it and run `npm start` to witness the issue. If you comment out lines 22-34 in `app.component.ts` which correspond to Pollyjs instanciation, you will see the correct behaviour

[2019-07-27 20:40] jasonmit commented on #240
It seems there are many layers involved when dealing with the long polling connection.

I noticed zone.js is [extending the original, native, XHR object](https://github.com/angular/zone.js/blob/22b993718c3d9fb1bea9f9088066d76329e86fdb/lib/browser/browser.ts#L78) and this is done before Polly replaces the global XHR object.

After correcting that, I then moved on to researching how the long polling

[2019-08-01 15:30] sankaritan opened #241 "feature: recording expiration to respect timezones"
##  Description

The `startedDateTime` is a timestamp but does not include timezone information.
This could lead to potential problems with [expiration calculation](https://github.com/Netflix/pollyjs/blob/02a476716d67225195842fe7ef92fac6dc383041/packages/%40pollyjs/adapter/src/utils/is-expired.js#L7).

Example situation:

- User A records a network call in GMT -05:00
- `expiresIn` is set to e.g 3

[2019-08-01 16:13] agraves opened #243 "some integration tests are not being run"
## Description

Per convo in #236, it looks like `test/integration/adapter-node-tests.js` is not being run and is most likely dead code.

### Repro steps

Edit `test/integration/adapter-node-tests.js` and add e.g. `expect(false).to.equal(true);` into one of the `it` blocks.

[2019-08-01 17:16] #233 closed

[2019-08-01 17:45] offirgolan opened #244 "Snapshot regression tests"
## Description

Because of the use of the InMemoryPersister (#233), we removed all the stored recordings generated by the tests which we used as a crutch to do semi-manual regression testing (e.g. check if certain attributes changed in the HAR file after making a change). Instead, we should write actual snapshot tests to catch these which will be significantly more useful.

[2019-08-02 18:36] jasonmit commented on #241
@sankaritan seems like a reasonable ask & I'm happy to review any attempts to solve this.

[2019-08-06 10:58] vitaly87 commented on #238
do you have any working example from js code that I can run from console chrome in order to see if its working?

[2019-08-06 12:37] AmitPLevy opened #247 "[Question] Running Polly in Chrome console"
I am trying to run Polly in Chrome console.

I executed to following code-

`const fetchUrls = ['https://cdn.jsdelivr.net/npm/@pollyjs/core@2.6.0/dist/umd/pollyjs-core.min.js',
        'https://cdn.jsdelivr.net/npm/@pollyjs/adapter-fetch@2.6.0/dist/umd/pollyjs-adapter-fetch.min.js',
        'https://cdn.jsdelivr.net/npm/@pollyjs/adapter-xhr@2.6.0/dist/umd/pollyjs-adapter-xhr.min.js',
        'http

[2019-08-06 15:19] rolios opened #248 "Never ending request"
## Description

I use PollyJS with Puppeteer to record and replay http requests in E2E test context.
I have one never-ending http call, I'm trying to figure out why. I didn't managed to find the root cause of it and started to wonder if it could be a bug.

- Every other requests works as expected, only this one doesn't.
- the request is an http POST to a laravel backend to get an auth token: `/oau

[2019-08-07 19:53] offirgolan commented on #247
This should work if you just replace the rest persister with the local storage one. I'm assuming you don't have a server setup to use the REST persister.

[2019-08-07 20:04] offirgolan commented on #248
@rolios any chance you can create a working reproduction that I can play around with?

[2019-08-09 06:46] rolios commented on #248
@offirgolan ok, I'm preparing that  👍

[2019-08-09 10:40] vitaly87 commented on #238
Finally I get it working , I download the pollyjs via cdn and did polly.server . All of this was done from excude script from chrome. You can't do it out of chrome scope .

[2019-08-09 10:40] vitaly87 commented on #238
Finally I get it working , I download the pollyjs via cdn and did polly.server . All of this was done from excude script from chrome. You can't do it out of chrome scope .

[2019-08-09 10:40] #238 closed

[2019-08-11 21:39] #232 closed

[2019-08-19 13:37] yaronassa opened #249 "[Question] Reading the .har recording response body content"
I use pollyJS extensively, and from time to time I need to examine the previously recorded responses by themselves.
I have the persisted HAR files, and they contain everything as they should. However, the response body seems to be a hex buffer, that I cannot convert back to utf8 format.

I tried reading it as hex, base64, and piping it through zlib inflate for good measure, but I keep getting a no

[2019-08-19 16:55] offirgolan commented on #249
If the response's body content is encoded, we store the chunks as an array of hex values. When replaying, we then convert each hex value back into a buffer and write it to a Readable Stream which will then be read by the consumer.

Converting the array of hex strings back into buffer chunks:

https://github.com/Netflix/pollyjs/blob/5b4edf3702b3e3a1c4cbd0651de8f1e4b45bdd42/packages/%40pollyjs/adapt

[2019-08-21 11:49] AmitPLevy commented on #247
Thank you, now its working.

[2019-08-21 11:49] #247 closed

[2019-08-28 22:12] rodrigogs commented on #248
I'm havin the exact same problem:
[code]

[2019-09-01 23:48] offirgolan commented on #248
@rodrigogs can you create a working reproduction that I can use to debug?

[2019-09-02 11:58] yaronassa commented on #249
Thanks, after fiddling with it, the HAR response contented turned out to be a gzipped chunked hex array.
So with your help, I managed to get the original response by:

[code]

Sorry it took me so long to implement your information - didn't have the time for it till now.

[2019-09-02 11:58] #249 closed

[2019-09-02 13:22] rodrigogs commented on #248
@offirgolan turns out that the hanging problem was due to the `persister-fs` module, which is another problem. The following code is not working for me anyway:

[code]

When I'm intercepting requests with Polly, the password page fails to load, when I disable Polly, it works perfectly. If you uncomment the `persister-fs` code, will see that there's also a problem with `adapter-puppeteer` along wit

[2019-09-13 16:21] stephenh opened #251 "HAR should have post-matchRequestsBy data"
I'm using `matchRequestsBy` to take a token/secret out of recordings (so I can use the real-secret during record, but then use a fake-secret for checking-in + running-in-ci), i.e.:

[code]

This does make the `_id` in the HAR file based on the "token=..." string (so I'm free to change the token between recording and replaying, and the hash/ID of the HAR entry still matches, so it works), but the r

[2019-09-13 19:23] stephenh commented on #193
FWIW I am just starting to use polly for a workflow of:

1) Record with a secret token (to get back valid responses from vendor that requires auth),
2) take the secret token out of the HAR (ideally via #251 which I just filed),
3) update the config to `matchRequestsBy`-out any token (either real or fake) (ideally I would have done this first, but pragmatically the easiest way to know where the tok

[2019-09-15 13:41] stephenh opened #252 "Remove hash from recording names"
It's not clear to me why a number/hash is added to the end of recording names, i.e. the har file is stored as `SuiteName-123456/test-name-123456/recording.har` instead of `SuiteName/test-name`.

Intuitively it seems like maybe this is supposed to avoid collisions, like if two different files use the same suite name & test-name, however that would require the id (the 123456 part) being some unique/

[2019-09-15 16:08] offirgolan commented on #252
We postfix a hash of the original recording name because we strip out non alpha numeric characters as well as restrict the length of the final name used for each directory.

This way, a recording name of AB would have a directory of AB_1234 but a recording name of A|B would have a directory of AB_5678.

[2019-09-15 16:16] offirgolan commented on #251
You can use the [Request](https://netflix.github.io/pollyjs/#/server/events-and-middleware?id=request) event via the client-side server to modify the request before it gets sent to the server.

If you want to send the actual token with the original request but emit it from the recording, you can use the [beforePersist](https://netflix.github.io/pollyjs/#/server/events-and-middleware?id=beforepersi

[2019-09-15 22:42] stephenh commented on #252
@offirgolan ah okay...that makes sense.

FWIW if the strip-non-alpha + chop-too-long is a no-op, i.e. there were no non-alpha chars and the length was okay, then the postfix is not necessary?

Understand this is a minor UX-if-that issue. Thanks for the response!

[2019-09-16 22:03] stephenh commented on #251
Ah okay...thanks! I got that working.

It would have been easier if `beforePersist` fired before the entry `id` was captured, b/c now I'm having to apply the "strip out tokens" logic in both the match methods (so the `_id` is calc'd right) + then again in the `beforePersist` hook:

https://gist.github.com/stephenh/1e3ec5a531fce3a53668cbef1ac81cbd

But it's not too bad.

[2019-09-17 03:46] fudomunro opened #253 "Recording from multiple contexts at once?"
We're trying out PollyJS, and it wasn't recording a subset of requests. It appears that in the developer tools, these requests show a different file as the "initiator". I assume this means, from the perspective of PollyJS, that they are being executed in a different context.

I would like to record these requests in the same session, but I don't see support for multiple contexts, and creating mult

[2019-09-17 05:41] swashcap opened #254 "Polly.JS doesn't encode multipart/form-data requests properly"
## Description

_This is a bug report._

Polly.JS appears to not send all of a `multipart/form-data` request to servers when it captures the initial server response. Most servers return an error when they cannot parse multipart form boundaries in a request.

**Update:** Polly.JS doesn't pass multipart/form-data bodies with the right encoding. See comments below.

### Shareable Source

I created a

[2019-09-17 05:45] swashcap commented on #254
Digging into the code a bit, I found that `HttpAdapter` sends requests using the `passthroughRequest` method:

https://github.com/Netflix/pollyjs/blob/7174b25ef3e97e07d22abac1d25a0e38eb9585b1/packages/%40pollyjs/adapter-node-http/src/index.js#L154-L194

It writes to the `http.ClientRequest` using the response of `HttpAdapter#getChunksFromBody`, which has some comments that seem to not take into ac

[2019-09-17 05:59] swashcap commented on #254
Debugging this a bit more, it seems like the handler is registered with nock, which _appears_ to do the parsing?

https://github.com/Netflix/pollyjs/blob/7174b25ef3e97e07d22abac1d25a0e38eb9585b1/packages/%40pollyjs/adapter-node-http/src/index.js#L52-L90

[2019-09-17 06:13] swashcap commented on #254
According to https://github.com/nock/nock/issues/191#issuecomment-218791862, nock passes form data in `hex` encoding. Seems…odd? But, sure enough:

[code]

[2019-09-17 06:19] swashcap commented on #254
It looks like nock checks the content here:

https://github.com/nock/nock/blob/9d5cda02efac32967babc8264bb4ae61795ad88d/lib/match_body.js#L13-L19

Which just does a `Buffer.equals` check:

https://github.com/nock/nock/blob/9d5cda02efac32967babc8264bb4ae61795ad88d/lib/common.js#L49-L57

Not very well documented, huh.

[2019-09-17 06:20] swashcap commented on #254
What do y'all think of a patch in Polly.JS that checks whether `body` is all hex right here?

https://github.com/Netflix/pollyjs/blob/7174b25ef3e97e07d22abac1d25a0e38eb9585b1/packages/%40pollyjs/adapter-node-http/src/index.js#L71-L76

That should cover the multipart/form-data case.

[2019-09-17 13:23] fudomunro commented on #253
Hmm, the requests that aren't being captured are GraphQL, so this might help me: https://github.com/Netflix/pollyjs/issues/222

[2019-09-17 13:49] fudomunro commented on #253
Confirmed that starting Polly earlier solved this issue.

We're using it to record and replay the backend when running selenium tests, from Python. We added a query parameter to our app to specify the recording name, which in our case is the name of the current test case. So far so good!

[2019-09-17 13:49] #253 closed

[2019-09-17 21:07] jasonmit commented on #252
Yes I believe it could conditionally work that way but might lead to a breaking change to introduce.

[2019-09-17 21:14] jasonmit commented on #254
First off, thanks for diving into this.

Is the goal to avoid calling `JSON.stringify` on `body` if it's all hex values?

[2019-09-17 21:19] stephenh commented on #252
Agreed; fine to close out as admittedly this is minor compared to the large breaking change for existing recordings.

[2019-09-17 21:23] swashcap commented on #254
No problem! We're enjoying Polly.JS quite a bit 🙂

The goal would be to correct the `body`’s encoding when it's sent to the upstream server in `HttpAdapter#passthroughRequest`. Right now it's `hex`, it should be decoded to `utf8`.

This should actually be a pretty small fix; shall I open a PR?

[2019-09-17 21:28] jasonmit commented on #254
Yes please :)

[2019-09-17 21:32] #252 closed

[2019-09-17 22:14] jasonmit commented on #251
`beforePersist` is the very last event fired which allows users to do anything to the request/response payload - even making them unreadable to Polly (i.e., encryption).  So we cannot assume that after this hook is called that Polly would be able to do anything with either payloads.

[2019-09-17 23:46] #251 closed

[2019-09-18 00:35] jasonmit commented on #193
@stephenh `_id` could be computed at runtime it's just not the implementation today.

If there is enough interest, I think we could make the necessary changes but the work involved to get there is pretty significant.

[2019-09-18 01:27] fudomunro opened #255 "Bug: Fetch Adapter support for Request objects is incomplete"
As of https://github.com/Netflix/pollyjs/pull/220, the Fetch Adapter allows you pass in a Request object as the only argument. However, it will simply extract the URL from the Request, and not use any of the other parameters.

This means if I have code being tested that uses Request objects to POST with a bunch of headers, like this:
[code]

Polly will do a GET to `url`, with a minimal set of head

[2019-09-18 01:32] jrnail23 opened #256 "[Question] Decoding gzipped content for storage?"
This question is related to something I encountered when using before migrating to polly, but I see that the persisted recordings (.har files) store gzipped content text in encoded form.

I'd really like to have my recordings be human-readable (and editable), so I'd like to find a way to decode content as it's persisted, then re-encode it when it's read.

Is there a way to do this in polly?

Here'

[2019-09-18 03:12] fudomunro commented on #255
This doesn't seem to be enough. It's maintaining the method now, but not the headers. I'll keep working on that.

[2019-09-18 03:47] fudomunro commented on #255
I figured out what was going on with the headers, and got that sorted out, but there's still something very fishy going on.

If I set Polly to be in passthrough mode, and change our app code to call `fetch(url, options)` instead of `fetch(Request(url, options))`, it works. But using the developer tools, I grabbed the HAR of this fetch for each run, and they are identical (other than the responses)

[2019-09-18 04:40] jasonmit commented on #256
[`beforePersist`](https://netflix.github.io/pollyjs/#/server/events-and-middleware?id=beforepersist) and [`beforeReplay`](https://netflix.github.io/pollyjs/#/server/events-and-middleware?id=beforereplay) should give you the hooks needed in order to achieve this.

[2019-09-18 04:44] jasonmit commented on #255
Yeah looks like we're not doing enough to support the Request object in it's entirety.

[2019-09-18 05:57] #256 closed

[2019-09-18 15:12] jrnail23 commented on #256
Thanks for the guidance @jasonmit.  I didn't know about those events!
I'll give it a try.

[2019-09-18 15:19] fudomunro commented on #255
I believe in this case we are using a session cookie for authentication, and I see we call `fetch()` with `credentials: "include"`, which I believe is how that is supposed to be passed through. Perhaps that's where this is breaking down currently.

[2019-09-18 16:02] fudomunro commented on #255
OK, I've sort of found where this is breaking down. Sort of, because only in the compiled version, where it uses `objectSpread()` like this:
[code]

When `options` is a Request object, this doesn't work, it loses things like `credentials: "include"`. I'll try serializing the Request object before passing it in as options.

[2019-09-18 16:37] fudomunro commented on #255
Turning the Request object into an anonymous object mostly worked, but it doesn't account for the body, which isn't a property, but something that must be read asynchronously. Still trying to figure out the best way to do that here.

[2019-09-18 18:03] jrnail23 commented on #256
Yep, this worked nicely.  Thanks again, @jasonmit

[2019-09-19 14:02] fudomunro commented on #255
OK, so I've rewritten the fetch method to turn everything into a `Request`, and do the request handling in the body of the returned promise. This is within the compiled version, because that's the only one I'm able to modify and see my changes reflected, but I'll get someone here who does JS to help me put together a nicer version for the source.

I've tested this a bit, and it seems to be perform

[2019-09-19 19:12] offirgolan commented on #255
I’ve played around with the idea of defaulting to using the Request object in order to support this but ran into some regressions with the generated for the Polly request ID changing. I do think this would be the best way to do this though.

@jasonmit is working on some regression tests in order to catch these sort of issues. I’ll be back from vacation next week and look into this more.

[2019-09-20 01:07] jasonmit commented on #255
I'll be honest, not terribly familiar with the `Request` API but the support between the options might mean it's not the best internal default.

https://developer.mozilla.org/en-US/docs/Web/API/Request#Browser_compatibility

Good to know this is related, I'll try and land that soon.

[2019-09-25 16:55] offirgolan commented on #188
PR submitted to DefinitelyTyped (https://github.com/DefinitelyTyped/DefinitelyTyped/pull/38597)

[2019-09-25 20:11] jasonmit commented on #188
https://github.com/DefinitelyTyped/DefinitelyTyped/pull/38597#issuecomment-535185162

Has been released and versioned, thanks  @offirgolan  :)

[2019-09-25 20:11] #188 closed

[2019-09-26 06:54] jasonmit commented on #248
@rodrigogs what version of puppeteer?  I know this used to occur on an older version of puppeteer.

[2019-09-26 16:18] rodrigogs commented on #248
@jasonmit version `1.19.0`

[2019-09-26 16:45] offirgolan commented on #248
@rodrigogs would you mind checking if this issue occurs for you on `v1.10.0`?

[2019-09-27 20:18] rodrigogs commented on #248
https://gist.github.com/rodrigogs/7db680570b04b0d2808cf482b2b5548c

Same behavior. Tested with `1.10.0` and `1.20.0`.

[2019-09-30 17:06] offirgolan commented on #255
Fix released with `v2.6.3`.

[2019-09-30 17:46] fudomunro commented on #255
Thanks!

[2019-09-30 18:47] jasonmit commented on #248
I'm able to reproduce this and see that a request is being iniatiated but not captured by Polly.  Since `await page.setRequestInterception(true);` is set puppeteer is waiting to be told to continue.  Since Polly is unaware of the request, the intercepted request is never responded to and eventually times out.

![image](https://user-images.githubusercontent.com/3108309/65906861-1a663f80-e378-11e9-8

[2019-09-30 20:35] jasonmit commented on #248
Some more findings, the passthrough request that polly makes (the one immediately under the timed out request) responds back with an empty body.  However, the request does have a response body if you make the request via `curl`.  For some reason the same request made via `fetch` returns back nothing from the API other than a 200 status code.

[2019-09-30 22:03] jasonmit commented on #248
Yeah I think the approach of going over `fetch` just isn't compatible with all scenarios.  We need to be able to trigger XHR events (i.e., `progress`, `load`, `loadend`, `error`, `abort`) and we lose that with the current implementation of having the request go over fetch.

[2019-10-03 13:45] fudomunro commented on #255
Looks like it didn't quite work, I'm getting this:
[code]

The line in question in the compiled version is:
[code]

Which I believe corresponds to https://github.com/Netflix/pollyjs/blob/master/packages/@pollyjs/adapter-fetch/src/index.js#L49 :
[code]

[2019-10-03 17:41] offirgolan commented on #255
Can you provide a reproduction? Also, are you using the fetch adapter in the browser or in node?

[2019-10-03 17:48] fudomunro commented on #255
I'm doing it in the browser. I'll see if I can provide a simple reproduction.

[2019-10-03 19:45] devdoshi opened #261 "node-http example (server, not client)"
## Description

This is a feature/documentation request.

My goal is to have a proxy server (node vanilla http or express) which will persist HAR files for any request that goes through it. It seems like in Polly, it's expected to be run on the client that is sending requests. In my scenario, I don't control the client but I do control the server the client is sending requests to over http. So, I

[2019-10-04 20:48] jasonmit commented on #261
Is this a node service that you want to capture all requests from but you cannot modify the source?

[2019-10-05 18:08] devdoshi commented on #261
I am working on an open-source developer tool (see https://github.com/opticdev/optic). Part of what we do is stand up a proxy between you (or any client) and an HTTP API server (written in anything) and observe the network traffic in between. For this I want a transparent proxy server that captures requests in a standard format like HAR. But, I want it to be written for node.js so I can keep my st

[2019-10-08 02:39] moltar opened #262 "How to modify captured requests before storing the recording?"
I want to be able to capture the HTTP request, but modify it before it gets stored as a recording.

The reason for that is that it exposes some API keys that are part of the URI and we don't want that to be saved.

Sorry for the question issue, couldn't find any other appropriate channels.

Thanks!

[2019-10-08 03:20] offirgolan commented on #262
You can do that with the [beforePersist](https://netflix.github.io/pollyjs/#/server/events-and-middleware?id=beforepersist) event.

[2019-10-08 16:07] moltar commented on #262
Thanks for the tip @offirgolan, but it seems to only apply to the server. I am just proxying requests to a public API. How would I handle that? Or is it what the `.passthrough()` option is for?

Thanks!

[2019-10-08 18:16] offirgolan commented on #262
The _server_ is a client-side server that resides on every polly instance. You can find out more info about it [here](https://netflix.github.io/pollyjs/#/server/overview) as well as all the events emitted throughout the lifecycle of a request [here](https://netflix.github.io/pollyjs/#/server/events-and-middleware).

[2019-10-11 04:35] jrnail23 commented on #256
@jasonmit, upon further usage, it seems that when an existing recording is updated (for example, if I had 5 requests in the recording, but my test scenario ended up recording a new, 6th request), `beforePersist` does not get triggered for my existing (previously decoded) requests, so when the recording is persisted, it's bypassing my decoding logic, and those requests are persisted in encoded, gzi

[2019-10-11 14:09] moltar opened #263 "TypeError: rawRequest.connection.address is not a function"
## Description

We are using a library that uses a [Popsicle](https://github.com/serviejs/popsicle) client.

There is a failure in mocking the requests using Popsicle.

### Shareable Source

Pretty vanilla Polly setup:

[code]

### Error Message & Stack Trace

[code]

The code can be found here: https://github.com/serviejs/popsicle-transport-http/blob/ef78022e431532ec710c716ca91b7d3691afe888/src/i

[2019-10-11 15:18] nguyentoanit commented on #263
Minimal Project for reproduce error:
https://github.com/nguyentoanit/popsicle-polly-error

[2019-10-11 17:43] offirgolan commented on #263
Thank you for the detailed issue @moltar and for the reproduction @nguyentoanit but this an issue with `nock` which we use under the hood. See nock/nock#1643.

[2019-10-11 17:46] offirgolan opened #264 "Upgrade to v11.x of nock"

[2019-10-11 18:45] jasonmit commented on #256
@jrnail23 that seems like a bug in Polly.  Can you open a separate issue for that?

[2019-10-11 18:47] jrnail23 commented on #256
Sure, will do.

[2019-10-11 20:14] devdoshi commented on #261
@jasonmit I hope I have answered your question -- please let me know if I can provide any more info. Thanks!

[2019-10-11 20:34] jasonmit commented on #261
@devdoshi understood.  This isn't something that Polly supports out of the box.

By the sounds of it, I believe this can be built on top of Polly rather than within.  It would be a matter of setting up an HTTP proxy that your clients would need to be configured to pass-through.  Within the proxy service you would need to instantiate/configure Polly where I'd imagine "everything would just work"™

[2019-10-11 20:35] moltar commented on #263
@offirgolan thanks! Any suggested workarounds?

[2019-10-14 23:27] TheMelter commented on #241
@jasonmit @sankaritan

Please correct me if I'm wrong, but it looks like the request timestamp - `startedDateTime` - is already being saved as UTC using `new Date().toISOString()`. Then in [is-expired.js](https://github.com/Netflix/pollyjs/blob/02a476716d67225195842fe7ef92fac6dc383041/packages/%40pollyjs/adapter/src/utils/is-expired.js#L7), this `recordedOn` timestamp with `expiresIn` is converted

[2019-10-15 03:47] jasonmit commented on #241
@TheMelter if it's already stored in UTC then shouldn't be much more work.  I wrote that without verifying what the current behavior is.  Feel free to proceed 😄

[2019-10-15 03:55] view-hyunmin commented on #241
@jasonmit since it's stored in UTC and timezone comparison is safe, the initial issue itself doesn't seem possible unless I'm missing something

[2019-10-15 03:55] jasonmit commented on #241
@TheMelter interesting, so if stored in UTC and when read is converted to local time and the comparison is done in local time then is there a bug?  I'd love a fail test to better help me understand.

[2019-10-15 03:56] jasonmit commented on #241
@sankaritan can you expand on this a bit more - maybe with a fail test or an explanation where the issue is?

[2019-10-16 19:33] jrnail23 opened #265 "BUG: beforePersist isn't fired when persisting some responses"
## Description
**What I was trying to accomplish:**

@jasonmit suggested using `beforePersist` and `beforeReplay` to handle the decoding and encoding, respectively.

**What went wrong:**

### Error Message & Stack Trace
n/a

### Source
here's the source of the encoding/decoding handlers, if that helps:
[code]

### Config

Copy the config used to setup the Polly instance:

[code]

### Dependencies

[2019-10-18 22:43] devdoshi commented on #261
Thanks! I'll take a crack at it when I get some time.

[2019-10-20 01:47] offirgolan commented on #263
@moltar the best thing to do would be to open a PR to nock. We can also patch it on our end in the mean time but #264 needs to be addressed first.

[2019-10-20 02:06] offirgolan commented on #265
Thanks for the detailed issue @jrnail23. Tbh, I'm unsure if there is an actual issue here or maybe im just not following what you're trying to do exactly.

From the code provided, it looks like you're decoding gzipped content when a request is persisted and then encoding it back to be gzipped when it's replayed (this is something we can probably build into polly itself).

Currently, `beforePersist

[2019-10-21 04:05] jordangarside opened #266 "recommended way to disable request capture errors with puppeteer/node"
Hey there,

I'm trying to use pollyjs with puppeteer and I'm encountering a problem, some non-critical requests are erroring out when changing the page with puppeteer's `goto()`. This is happening even in `passthrough` mode.
[code]
I'm not sure exactly what this error is indicating either.

This causes the whole test to fail. I'm wondering if there is an easy way to have polly ignore requests for

[2019-10-21 15:51] jrnail23 commented on #265
@offirgolan the issue is that sometimes the existing requests get re-persisted for some reason, and when they do, it doesn't fire the `beforePersist` event.  That's what breaks my encode/decode logic.

[2019-10-21 17:05] jordangarside commented on #266
It looks like the error comes from navigating to new pages when requests are still pending. A work-around involves:
1. `goto('localhost:3000')`
2. `polly.stop()`
3. `goto('about:blank')`
4. `polly.start(...)`
5. `goto('localhost:3000')`
It seems like this shouldn't be necessary?

[2019-10-21 20:15] jasonmit commented on #266
@jordangarside do you not see these errors without Polly instantiated?  Are the requests settled by the time the next `goto` occurs?

`await polly.flush()` between `goto`'s may also be more appropriate vs stopping and restarting.

[2019-10-21 20:25] jordangarside commented on #266
The requests are not settled when the next `goto` occurs, causing the issues.

No errors when Polly is not instantiated.

`await polly.flush()` hangs indefinitely because those requests aren't resolving.

[2019-10-21 20:31] jasonmit commented on #266
Just to be clear this happens even when Polly isn't used?

Intentionally held open requests or a bug?

[2019-10-21 20:35] jordangarside commented on #266
This does not happen when Polly isn't used.

This happens in both cases where the connection is intentionally and unintentionally held open. I basically just want to disregard requests that haven't resolved.

In the case where I load a page and then immediately load the next page, I haven't waited for all requests to resolve. This causes Polly to crash at the moment.

[2019-10-21 21:52] jordangarside commented on #266
It actually turns out that one of the specific request causing this problem for me is actually being hung by Polly.

`https://www.google-analytics.com/collect`

It doesn't hang when Polly is not initialized.

### This is what the request looks like when it goes through:
![image](https://user-images.githubusercontent.com/6321824/67245875-ea0f3f80-f411-11e9-9e06-f082f6fa596c.png)

### And when it fa

[2019-10-21 22:13] jordangarside commented on #266
It seems like Polly is not calling `request.continue()` for this specific request.

If I add this:
[code]

Then the request resolves.

[2019-10-21 23:14] jasonmit commented on #266
Seems related to the same issue in https://github.com/Netflix/pollyjs/issues/248 where a google POST request never resolves.  I still have not uncovered why that is.

[2019-10-21 23:24] jordangarside commented on #266
Interesting.

Is there any way to not throw errors when requests are aborted? I'd still like to be able to navigate to new pages while their are pending requests and simply drop those (instead of error out).

[2019-10-21 23:40] jasonmit commented on #266
I don't believe it's Polly that's throwing, it's the fact that the request hasn't settled when transitioning away because of the same issue in #248 and so Chrome throws.  I may not be correct about this but that's what I believe is happening.

[2019-10-24 05:59] brandon-leapyear opened #269 "Non-deterministic recordings files"
## Description

I'm not sure how to minimally reproduce this, but using `persister-fs`, I'm getting non-deterministic orderings of requests. Context: I'm working on making our polly recordings idempotent; e.g. scrubbing timestamps and auth tokens. I have everything idempotent now, but some recordings (not all) keep changing the order of requests; e.g.
[code]
will get reordered as
[code]

It seems

[2019-10-24 06:28] brandon-leapyear commented on #269
I wrote the following class as a workaround; it seems to do the job:
[code]

[2019-10-24 07:06] offirgolan commented on #269
@brandon-leapyear thanks for opening up this issue! Looking more into it, I think you're right but the root cause is here:

https://github.com/Netflix/pollyjs/blob/8f86fb372b6ac3e6efa36a9dee07d81d8e112847/packages/%40pollyjs/node-server/src/api.js#L29-L31

Where `fs.outputJsonSync` does a JSON.stringify. Converting it to the following should do it:

[code]

[2019-10-24 16:40] brandon-leapyear commented on #269
hm so it looks like this doesn't really help. Looking at `json-stable-stringify`, it only makes objects deterministic, but it doesn't do anything to the order of the array. It must be that PollyJS adds recording entries in a non-deterministic order?

[2019-10-24 17:50] offirgolan commented on #269
@brandon-leapye thinking more about this, the final HAR output doesn't need to be deterministic as the ordering comes from the stored `_order` attribute on each request. When adding new entries to the HAR, they are deduped and sorted by their `startedDateTime`.

What is the order of your network requests? Is it just the ordering that changes in the final output for you or is it something else?

[2019-10-24 17:53] brandon-leapyear commented on #269
My goal is to make the final HAR output deterministic, so that git diffs between recordings don't change. Ideally, if someone makes a change (e.g. changes a POST payload or adds an API call) the diff in the HAR output should only be that single change.

That's interesting. Is that specified by the HAR standard or is that in polly? I don't see that happening in polly code. To make the HAR output de

[2019-10-24 20:47] brandon-leapyear commented on #269
ok i got it working with this
[code]
thanks for the help!

[2019-10-24 20:47] #269 closed

[2019-10-24 22:25] offirgolan commented on #269
From the HAR 1.2 spec:

See [here](http://www.softwareishard.com/blog/har-12-spec/#entries)

The sorting and deduping is done here:
https://github.com/Netflix/pollyjs/blob/8f86fb372b6ac3e6efa36a9dee07d81d8e112847/packages/%40pollyjs/persister/src/har/log.js#L31-L45

Just as a note, Polly does depend on `startedDateTime` for features such as timing and expiration. Instead, maybe we can support a pe

[2019-10-24 22:32] brandon-leapyear commented on #269
I don't have an opinion about the option to disable sorting the entries. It makes sense that the entries are sorted by `startedDateTime`; maybe some option to make it easier to mock out? I can't imagine that my team is the only team that wants auditable diffs in polly recordings.

What features does Polly have regarding timing and expiration? Are they applicable to `persister-fs`? Not sure we need

[2019-10-28 20:44] brandon-leapyear opened #271 "Feature Request: allow adapter disconnect/connect within request handler"
## Description

In our tests, we submit a task to the server and need to poll the server until the task is marked "done". However, it would be nice to only get the final "done" request in the Polly recording, i.e. the Polly recording should read as if the task was finished immediately. I initially tried to implement this by doing

[code]

But when running this, I get

[code]

which I think is beca

[2019-10-31 03:28] offirgolan commented on #271
What if you did something like this instead (I haven't tested this out so not sure if its gonna actually work):

[code]

[2019-10-31 03:36] brandon-leapyear commented on #271
Sure, that could work, but it seems like that would be stuff to run at the point in the test when you do the action-that-needs-to-be-waited-on. I'm using the setup-polly-jest package and doing all of this configuration in the jest setup file (in beforeEach), so I don't (easily) have access to the polly/server instance in the test itself

[2019-10-31 03:44] jasonmit commented on #271
I'm not terribly familiar with the lib but the docs suggest the polly instance hangs off the context object returned by setupPolly.

[code]

[2019-10-31 04:04] brandon-leapyear commented on #271
Right, but I run setupPolly in a setup script (jest lets you specify an independent file to run when jest boots up), so the context object is not importable or otherwise accessible to the test files

[2019-10-31 05:17] offirgolan commented on #271
You can attach the polly context to jest's global object during your setup (see [globalSetup](https://jestjs.io/docs/en/configuration.html#globalsetup-string)).

[code]

[2019-10-31 06:31] brandon-leapyear commented on #271
So no, I can't use globalSetup to use the polly context in tests. But yes, I could just make a normal global variable that holds the polly context.

However, I do like keeping all the polly stuff in one setup file instead of having polly logic live in multiple places. The solution above with using polly.adapters works for us, and I think our solution is clearer in its purpose than the code snippet

[2019-10-31 18:59] mastermatt commented on #263
This was fixed in Nock as of 11.7.0

[2019-11-05 08:29] yaronassa opened #274 "matchRequestsBy functions should have the entire request context at their disposal"
## Description

I use many `matchRequestsBy` custom functions to unify different requests across test domains, users, tokens and proxies. Specifically with url segments functions (but also with other functions), I often find myself needing the entire context of the request in order to effectively unify the relevant request field.

For example, we have a jump-host proxy for testing from outside our

[2019-11-05 18:46] offirgolan commented on #274
Makes sense to me. Should be a very simple add.

[2019-11-13 19:49] mrpotatoes opened #275 "How are requests, internal & remote calls stubbed?"
## Description
We are trying to get Polly to use a HAR recording it has previously saved. The code below will illustrate my latest attempt after a day of working with the library. We have cloned this repo and have installed the `./examples/puppeteer` example and ran it then began to modify it's source code.

What I was expecting to be able to do was that it would download the network archive (HAR)

[2019-11-14 03:13] jasonmit commented on #275
There's a lot here to unpack.

Were you hoping to record these requests and replay them back?  If so, Polly should be able to do this for you without explicitly recording a HAR file yourself and attempting to use that in place.

What's going on here appears to be [CORs isn't something that jsonplaceholder implements](https://github.com/typicode/jsonplaceholder/issues/4).  Basically your client is

[2019-11-15 15:52] mrpotatoes commented on #275
Thank you for the help. Somewhere along the lines I made some mistakes, which I cannot divulge because I don't know where I went awry, but your help helped me fix my issue. it is working as it should so thank you!

[2019-11-15 15:52] #275 closed

[2019-11-15 23:58] shankarsridhar opened #276 "pollyjs config is undefined when reusing ember build and running ember test"
Hello pollyjs contributors and devs,
I am not sure if this is a bug report or a question :)

## TL;DR
pollyjs config from consuming ember app is not available inside the polly js addon methods, when reusing the build, which happens when running the command,
 `ember test --path <build folder name>`

## Description
I am using pollyjs/@ember package for my ember project, and it works just fine, when

[2019-11-16 07:56] jasonmit commented on #276
Interesting, I'd expect `included()` to be called.  Unsure if upstream bug or not.

[2019-11-16 14:26] shankarsridhar commented on #276
I am not sure if this worked before in my ember project, since I have never tried reusing the ember build in the `dist` folder (by running `ember test --path dist`), until a few weeks back.

My project is using the latest version of @pollyjs/ember.

[2019-11-16 15:15] shankarsridhar commented on #276
@jasonmit I've created a repo to demo the problem happening, and how it goes away after removing `@pollyJs/ember`. Hope that helps.

https://github.com/shankarsridhar/reuse-ember-build

^^ ember app uses yarn for dependency management.

[2019-11-21 03:48] #263 closed

[2019-11-21 17:34] shankarsridhar commented on #276
On a side note, I ran into a similar issue with one of my addons (that provides custom ember commands), and I moved the config to `environment.js` instead of `ember-cli-build.js` in the consuming ember app.
After that, I was able to access the config passed on from the consuming ember app.

[2019-11-21 18:45] #264 closed

[2019-11-21 18:50] #254 closed

[2019-11-21 20:57] jasonmit commented on #276
@shankarsridhar yeah I see no way around this other than moving the config options to `config/environment.js` or its own config module since the `EmberApp` isn't instantiated in the `ember test --path` flow.

[2019-11-24 01:14] shankarsridhar commented on #276
Could be related - https://github.com/ember-cli/ember-cli/issues/8922 ?

[2019-11-24 01:38] jasonmit commented on #276
Yup, looks related.  I can work around it but will wait to see how the above progresses first.  Thanks for linking the issues.

[2019-12-10 03:49] jasonmit commented on #276
https://github.com/Netflix/pollyjs/pull/277 can you verify this resolves your issue?

[2019-12-10 13:46] moltar opened #278 "Not handling some binary responses correctly (with reproduction)"
## Description

Requests fail when fetching binary data.

The binary data seems to be fetching and recording fine. But then it is somehow wrong, because when passing gzip'ed data to the zlib, it complains that the data is not valid.

So the data is either transformed or cut off in some way.

### Shareable Source

See https://github.com/moltar/polly-octet-stream

### Error Message & Stack Trace

[c

[2019-12-10 14:01] tamlyn opened #279 "Strange behaviour matching request modified in beforePersist"
## Description

I *think* this is a bug but there's always a chance it's a feature and I haven't understood something.

I'm testing an authentication flow and I don't want the real auth tokens to be committed to the repo. I've set up a `beforePersist` middleware to replace `real-token` with `dummy-token` in the POST bodies. When recording I make the requests with `real-token`. Then when running my

[2019-12-11 03:16] offirgolan commented on #279
@tamlyn even though you're storing the `dummy-token` in the HAR file, you're still making the request with the `real-token`. Polly calculates the request's id based on the request you made (not whats stored in the HAR), so you would need to tell Polly to ignore the token altogether. You can do so via [matchRequestsBy](https://netflix.github.io/pollyjs/#/configuration?id=matchrequestsby).

[2019-12-11 03:18] offirgolan commented on #278
@moltar are you on `v2.7.0` of the `node-http-adapter`? That version includes fixes to handling binary data.

[2019-12-11 08:47] #276 closed

[2019-12-11 09:47] moltar commented on #278
I have installed the latest (`2.7.0`) version of the `@pollyjs/adapter-node-http`, and it has no effect.

My understanding is that the latest version fixed a bug about binary requests, not responses.

Thanks.

[2019-12-11 10:39] tamlyn commented on #279
Ah! So the `_id` is a hash of the request? I thought it was random. Is that documented anywhere? Is the request object as stored in the HAR used for anything?

[2019-12-11 11:20] moltar commented on #278
Interestingly, the value is stored correctly:

[code]

And fetching via `curl`:

[code]

[code]

Haven't compared byte to byte, but visually, the strings look identical.

[2019-12-11 11:35] moltar commented on #278
What I am noticing:

[code]

When running without Polly, the `byteLength` value is `118`, but via Polly it's `236`. Somehow the value is doubling up.

[2019-12-11 11:47] moltar commented on #278
Added a Jest snapshot to the test repo. It has the correct response representation when running without Polly, but with Polly contents seem to be not right. Not sure what the contents represent, but they have a are different value.

[2019-12-11 12:14] moltar commented on #278
This seems to be related!

https://github.com/nock/nock/issues/1021

[2019-12-11 17:42] shankarsridhar commented on #276
oh cool. WIll take a shot at it later this weekend.

[2019-12-11 21:28] jasonmit commented on #279
Correct

https://netflix.github.io/pollyjs/#/configuration?id=matchrequestsby

For completeness with the HAR spec (importing into a HAR tool to inspect for example).  In the future, we may leverage it more.

[2019-12-11 21:30] #279 closed

[2019-12-15 20:42] niztal opened #280 "monitoring http request/response over kubernetes cluster"
Hi all,

Is there a way I can record HTTP requests/responses over a k8s cluster?

Assuming I would like to monitor all traffic among/outside of pods within k8s cluster, is there a way doing so via polly.js?

Thanks.

[2019-12-16 21:18] jasonmit commented on #280
Polly is for recording and replaying supported adapters: xhr, fetch, and node's http module.  Polly needs to be running within a node application or browser bundle in order to record/replay.  I don't see how this would be compatible with observing all traffic in a kubernetes cluster unless it's instantiated within all the apps running within the cluster.

[2019-12-16 21:18] #280 closed

[2019-12-17 05:14] shankarsridhar commented on #276
@jasonmit
How do I use the fix. Is it part of the latest release version yet ?
Perhaps a certain branch that I should the addon from ?

[2019-12-17 15:00] barakplasma opened #281 "Docs: missing logo image in documentation"
## Description

Missing the Polly logo in the documentation

![Screen Shot 2019-12-17 at 16 57 14](https://user-images.githubusercontent.com/62937/71006709-74acac00-20ee-11ea-8920-8c0cd2696b33.png)
### Shareable Source

[code]

## Relevant Links

- https://netflix.github.io/pollyjs/#/README

## Environment

Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_1) AppleWebKit/537.36 (KHTML, like Gecko) Chro

[2019-12-17 21:58] jasonmit commented on #281
Assigning to @offirgolan since I don't have access to do deployments (I don't think I do at least...).

[2019-12-17 23:54] jasonmit commented on #276
We have not yet versioned it but it's on master.

@offirgolan can you release the breaking change?

[2019-12-18 02:23] #281 closed

[2019-12-18 02:34] offirgolan commented on #276
@shankarsridhar released under `v3.0.0`

[2019-12-18 18:27] ashishsinha1 opened #282 "The big picture"
I have been struggling to understand the big picture. I read everything and tried few of those examples but still unable to connect the dots. So first I need to be sure that my current understanding is right: Recording (and replaying) happens at the client and not at the server (server being jsonplaceholder.typicode.com in given examples). **Is that the right understanding?** And that would also i

[2019-12-19 00:06] jasonmit commented on #282
Polly sits in between your application and the requests your application makes.  It does this by intercepting calls to `globalThis.fetch` and `globalThis.XMLHttpRequest` for Polly's browser implementation.  For the node implementation, we internally use [`nock`](https://github.com/nock/nock) to deal with intercepting network interactions in Node.

Polly has its own persistence "server" which the m

[2019-12-19 07:48] ashishsinha1 commented on #282
Thanks jasonmit. So if I have a nodejs express server with a GET route ready to serve requests to any client, can I add pollyjs code there **(only)** to record the incoming requests and outgoing responses? Or will I need to run some pollyjs code on the client as well?

[2019-12-19 07:49] ashishsinha1 commented on #282
Thanks jasonmit. So if I have a nodejs express server with a GET route ready to serve requests to any client, can I add pollyjs code there **(only)** to record the incoming requests and outgoing responses? Or will I need to run some pollyjs code on the client as well?

[2019-12-19 22:25] jasonmit commented on #282
I believe so.  Hard to say for certain without understanding the complete use-case.

[2019-12-21 09:15] #282 closed

[2019-12-24 12:24] dheeraj-jn commented on #255
@offirgolan @fudomunro here is a simple reproduction of the issue:
https://codesandbox.io/s/late-surf-xil0t

[2019-12-24 20:44] brandon-leapyear opened #285 "Should "_order" still increment after polly.pause?"
##  Description

Question: I have a code snippet that does roughly:

[code]

I would expect the recording to only contain the last request (after `.play()`) and have the `_order` attribute still be 0, as if the requests between pause and play didn't happen. Instead, I see the recording not having the extra requests (as expected), but `_order` becomes something like 7. What's the correct semantics

[2019-12-24 23:26] jasonmit commented on #255
Actually, lets open this up as a new bug since it's not the same as originally reported.

[2019-12-24 23:26] #255 closed

[2019-12-24 23:30] jasonmit opened #286 "Failed to construct 'Request': Please use the 'new' operator, this DOM object constructor cannot be called as a function"
Error:
`Failed to construct 'Request': Please use the 'new' operator, this DOM object constructor cannot be called as a function.`

Offending line:
`_this2 = possibleConstructorReturn(this, getPrototypeOf$2(ExtendedRequest).call(this, url, options));`

Reproduction (thanks to @dheeraj-jn for putting this together):
https://codesandbox.io/s/fragrant-pine-cwnox

This looks to be caused by the way ba

[2019-12-25 03:11] #286 closed

[2019-12-25 03:16] jasonmit commented on #285
I'd expect the order to be 0 as well.  This sounds like a bug and will need to be investigated.

[2019-12-25 03:17] offirgolan commented on #286
Resolved with `v3.0.1`.

[2019-12-25 03:18] jasonmit commented on #286
Thanks @offirgolan

[2019-12-25 20:55] jasonmit commented on #255
FYI @offirgolan fixed this in 3.0.1

[2019-12-25 20:59] fudomunro commented on #255
Excellent, I'll have to try this out again when I get back to work. Thanks everyone!

[2020-01-05 22:55] RubenVerborgh commented on #278
Downgrading `@pollyjs/adapter-node-http` to v2.5.0 fixes it; the bug first appears in v2.6.0.

[2020-01-06 21:14] NikolasMsomething commented on #278
Also experiencing this issue @moltar. Have you happened to find out anything further? Thanks in advance.

[2020-01-07 19:25] offirgolan commented on #278
Looking into it. Should hopefully have a solution in the next few days.

[2020-01-07 21:34] offirgolan commented on #278
@moltar the reproduction isn't working for me. Getting access denied via the url [here](https://github.com/moltar/polly-octet-stream/blob/master/src/fetcher.ts#L4)

[2020-01-07 23:50] RubenVerborgh commented on #278
Reproducible example:

[code]

[code]

Results in:
[code]

The error disappears when uncommenting the Polly.js block.

This is the best MWE I could find; the bug disappears without jest or node-fetch for me.

[2020-01-08 00:12] offirgolan commented on #278
Went down a pretty deep rabbit hole which led me to the issue coming from here:

https://github.com/nock/nock/blob/fad405aa39b6dd98ecdc70432170e7b31abcbd95/lib/common.js#L479

That line returns false where it would actually return true if they used `typeof obj.setEncoding === 'function'`. Since we always return a stream as the response, nock isn't handling it properly.

This is now dependent on no

[2020-01-08 17:53] jaboulos opened #288 "Allow for one Polly recording that can be reused across multiple tests"
I'd like to know if it's possible to create 1 Polly recording that can be reused across multiple tests. Right now each test creates it's own har file which is expected but we'd like to know if Polly allows or has options to record all tests into just 1 file.

[2020-01-08 19:19] offirgolan commented on #288
You can change the recording name via `polly.recordingName = 'Whatever you want'`. You can also change it on a per route basis via the [recordingName()](https://netflix.github.io/pollyjs/#/server/route-handler?id=recordingname) server method

[2020-01-08 19:26] #278 closed

[2020-01-08 19:28] offirgolan commented on #278
Released with `v3.0.2` 🎉

[2020-01-08 19:36] NikolasMsomething commented on #278
Thank you very much!

[2020-01-09 11:33] moltar commented on #278
@offirgolan Thanks a ton for chasing it down the hole! :)

[2020-01-09 14:34] wallynm opened #290 "jest-puppeteer example doesn't work as expected"
## Description

Bug - The examples folder `jest-puppeteer` doesn't work, i imagine that is a topic of version because all package are configured to install last version "*".
Installed all packages then run `yarn test`

The console doesn't print that the test failed or not, another thing i did for test was delete the recording folder and it doesn't recorded a new one.

I've tried those packages int

[2020-01-10 01:27] jasonmit commented on #290
[code]

Is this the example you're referring to?  Have you made any other changes to that sample that you ran?

[2020-01-10 01:28] jasonmit commented on #288
@jaboulos feel free to open another issue if this isn't what you had in mind.

[2020-01-10 01:28] #288 closed

[2020-01-10 05:55] offirgolan commented on #285
Unfortunately the order must be deterministic since there are many other factors that could change the state of the request at any time. This would also become pretty complicated once parallel requests are being made, each with their own interception logic that could potentially force the request to pass-through.

Instead, I would disconnect and reconnect polly from the specified adapter while you

[2020-01-10 17:00] brandon-leapyear commented on #285
I'm not sure what you mean. As I understand it, "_order" is only a Polly concept — I don't see any mention of it in the HAR spec. That is to say, I thought "_order" is only something Polly adds to the recording so that recordings with the same payload can be replayed in the same order.

If that's the case, I don't see why requests with "_order" 1-6 need to be accounted for in the recording. The re

[2020-01-10 17:31] offirgolan commented on #285
I totally agree with you on this. After some offline discussion with @jasonmit, we  think the best solution is to disconnect from all the adapters when `polly.pause()` is called and then reconnect to them when `polly.play()` is called. This will ensure that no unwanted requests get picked up by the polly instance.

[2020-01-12 02:07] offirgolan commented on #271
Following up on this, you should be able to do something like this to avoid using private APIs:

[code]

I don't believe we will support disconnecting and reconnecting from an adapter mid request as that could get a bit complicated without much benefit.

Feel free to reopen this issue or create a new one if you're still continuing to face this issue.

[2020-01-12 02:07] #271 closed

[2020-01-12 06:46] #285 closed

[2020-01-13 04:07] #274 closed

[2020-01-13 04:28] offirgolan commented on #265
Digging more into it, I believe the issue comes from the fact that we don't clone the recording entry before passing it to `beforeReplay`. This means that any changes made to entry during that event are actually mutating the recording.

[2020-01-13 07:10] #265 closed

[2020-01-23 15:21] nfc036 opened #297 "@pollyjs/ember stores recordings in [projectRoot]node_modules/@pollyjs/ember/recordings"
`@pollyjs/ember@4.0.0` is storing the recordings in `[projectRoot]/node_modules/@pollyjs/ember/recordings`.
Also, configuration options in config/polly.js are ignored.

It seems to me, that this.root in https://github.com/Netflix/pollyjs/blob/6423839d9aeb9b0318ae69251d8bafcd28933408/packages/%40pollyjs/ember/index.js#L78 and https://github.com/Netflix/pollyjs/blob/6423839d9aeb9b0318ae69251d8bafcd2

[2020-01-25 01:32] #297 closed

[2020-01-25 22:03] offirgolan commented on #297
Fix released in `v4.0.1`.

[2020-01-29 01:11] zachawilson opened #301 "`normalize-request` function `url` is manipulating the url and breaking the request"
## Description

`@pollyjs/core/src/utils/normalize-request` function `url` is manipulating the url and breaking the request.

When query parameter does not have a value, the function `url` appends a `=`  before making the request. Specifically consuming a WSDL endpoint for a SOAP client does not work because the request url is changed from `?WSDL` to be `?WSDL=`

### Shareable Source

[code]

###

[2020-01-29 01:53] zachawilson commented on #301
Trying to help by narrowing things down a bit.

`@pollyjs/utils/src/utils/url` is where the undesirable manipulation happens.

It seems the second argument `parse` is critical
https://github.com/Netflix/pollyjs/blob/ed8fe999f1facd7849f389a26da4ea27f36969a4/packages/%40pollyjs/utils/src/utils/url.js#L61-L66

You can see here that `parse=true` in `normalize-request`
https://github.com/Netflix/pollyj

[2020-01-29 04:08] #301 closed

[2020-01-29 05:10] jasonmit commented on #290
Able to reproduce, unfortunately on really terrible internet so will need to come back tomorrow to fix.

[2020-01-30 18:05] offirgolan commented on #241
@sankaritan following up on this issue. Do you have any more details you could provide?

[2020-01-30 18:11] offirgolan commented on #206
This isn't something that we plan to support out of the box but can be done fairly easily by extending the current FS Persister which is public API.

[2020-01-30 18:11] #206 closed

[2020-01-30 18:32] #290 closed

[2020-01-30 18:33] jasonmit commented on #290
@wallynm issue should be resolved now, thanks for reporting.

[2020-02-01 23:35] #243 closed

[2020-02-02 02:59] jasonmit commented on #92
Closing as the issue is old and awaiting on `polly.flush()` before your tests end should resolve this for most.

[2020-02-02 02:59] #92 closed

[2020-02-02 04:21] #261 closed

[2020-02-02 04:23] jasonmit commented on #261
Closing since this isn't something we'll likely support.

[2020-02-04 13:40] goldbergyoni opened #307 "Can it record *incoming* requests?"
This is a question I couldn't figure out while reading the docs.

I noted it has great capabilities in recording outgoing requests, but can this lib also handle incoming API requests (e.g. Expess API server)? My intent is to record my production requests and then replay those over staging

[2020-02-06 06:20] jasonmit commented on #307
I'm not really sure what you mean.  Do you want something that records incoming requests and on replay simulate them incoming again?  If so, no Polly does not support this use case.

[2020-02-06 09:34] PeterNgTr opened #308 "feature: playwright adapter"
## Description

Microsoft just releases a new cool lib called Playwright (https://github.com/microsoft/playwright/tree/v0.10.0) and the team behind is the one who are building the Puppeteer. May we consider support this at some point?

[2020-02-06 19:07] TychosDrunkElk opened #309 "issue with `name` property when creating a custom adapter in TS"
## Description

When creating a custom adapter using typescript, the name property conflicts with the `Function.name` constructor. not sure how to get around this, would it be possible to rename the property to `adapterName` or something similar?

### Shareable Source

[code]

### Error Message & Stack Trace

[code]

### Dependencies

Copy the @pollyjs dependencies from `package.json`:

[code]

##

[2020-02-06 19:57] goldbergyoni commented on #307
Not exactly. What I want is classic traffic shadowing - record express server API receiving requests, simply record the incoming HTTP traffic. Then replay the same traffic against other API. This is typically being used to record the incoming production traffic and replay against the staging to ensure it can handle the same requests

[2020-02-06 20:10] jasonmit commented on #309
I'm open to deprecating and renaming.  Can be done in a backwards compatible way so we don't need to release another major for this.  Any interest in taking it up?

[2020-02-06 20:16] jasonmit commented on #308
We would definitely consider supporting playwright.

[2020-02-06 20:18] jasonmit commented on #241
Closing as it appears to have gone stale.

If it's still an issue in the future, please open a new issue instead of responding on closed issue.

[2020-02-06 20:18] #241 closed

[2020-02-06 20:20] jasonmit commented on #266
Closing in favor of tracking core issue in #248

[2020-02-06 20:20] #266 closed

[2020-02-06 20:23] jasonmit commented on #307
No Polly isn't suited for replaying incoming traffic.  Good question though, I'm going to close since it feels beyond the scope of this project right now.

[2020-02-06 20:23] #307 closed

[2020-02-06 21:05] TychosDrunkElk commented on #309
@jasonmit awesome, can definitely pick this up :) thanks!

[2020-02-20 23:56] tripodsan opened #311 "Feature: node-http2 adapter"
## Description
AFAICS, there is not adapter for http2 yet. are there any plans to implement one?

### Shareable Source

## Relevant Links
- https://nodejs.org/docs/latest-v10.x/api/http2.html
- https://github.com/grantila/fetch-h2

[2020-02-21 22:13] #309 closed

[2020-02-21 22:14] jasonmit commented on #311
No immediate plans but we are interested in it.

[2020-02-25 03:19] ludbek opened #312 "Feature: A CLI to regenerate request ids"
Recently we updated `axios` version. This makes changes to the value of `User-Agent` header. As a side effect, when we ran our tests `pollyjs` would invalidate existing records and make fresh requests. The APIs are from third parties (Although now its feels like we should have mocked those APIs with hard coded responses.).

We added following configuration to our existing configuration. But above

[2020-03-04 10:39] Armenuhi-Qocharyan commented on #183
@offirgolan Is there any dateline for adding the support?

[2020-03-17 07:12] aelzhanova opened #314 "How to switch off logs for mockRequest in codeceptjs + puppeteer?"
## Prerequisites

helpers: {
    Puppeteer: {
      url: process.env.CODECEPT_URL || 'http://seller-ui.sc.stg.s.o3.ru',
      show: false,
      browser: 'chrome',
      windowSize: '1920x1080',
      waitForAction: 0,
      waitForNavigation: 'load',
      restart: false,
      keepBrowserState: true,
      typeInterval: '-1',
      chrome: {
        args: ['--no-sandbox', '--headless', '--window

[2020-03-19 15:10] nbfr opened #315 "Bug: Polly does not respect <base> tag"
## Prerequisites

A website running under a certain path e.g. "http://localhost:4200/some/feature"

## Description

XHR requests made to a relative url, e.g. "rest/my-api" are altered by PollyJS to contain parts of the  browser url. In this example "/some/rest/my-api".

### Config

[code]

### Dependencies

[code]

## Relevant Links

https://github.com/nbfr/pollyjs-dream-app

You can run the app w

[2020-03-19 15:36] nbfr opened #316 "Sending response although request has been cancelled"
## Description

Even if an XHR has been cancelled PollyJS will still try to send a response.
This will lead to an error.

### Shareable Source

[code]

PollsJS will still call
[code]
on the already cancelled request resulting in an error.

I think the issue can be fixed in the XHRAdapter:
[code]

### Error Message & Stack Trace

[code]

### Config

[code]

### Dependencies

[code]

## Relevant Lin

[2020-03-19 20:57] offirgolan commented on #183
No timeline as of right now. I'll see if I can try to tackle this in the next few weeks. PR is always welcomed 😄

[2020-03-20 04:40] jasonmit commented on #314
The large stacktrace is caused by the stringifying of a Polly object in the error.  Unsure why that is, would need to investigate further - we can likely improve the error messaging.

The exception you are seeing (`UnhandledPromiseRejectionWarning: Error: Request Interception is not enabled!`) is likely caused because you haven't yet invoked `page.setRequestInterception(true);`

An example of that

[2020-03-20 09:51] mleneveut opened #317 "[adapter-node-http] Upgrade nock version to 12.0.3+ to fix Critical CVE-2020-7598"
## Description

There is a [CVE-2020-7598](https://nvd.nist.gov/vuln/detail/CVE-2020-7598) on minimist, which is fixed in mkdirp 0.5.3 or 1.x. Adapter-node-http uses nock@11.7.2 :
https://github.com/Netflix/pollyjs/blob/master/packages/%40pollyjs/adapter-node-http/package.json#L49

Could we upgrade nock@12.0.3 which removes mkdirp and so will fix the CVE ?

I don't know if this CVE is exploitable

[2020-03-20 09:56] mleneveut commented on #317
Node and npm are fixing their dependencies here :

https://github.com/nodejs/node/issues/32296
https://github.com/npm/cli/commit/e111676467f090f73802b97e8da7ece481b18f99

[2020-03-21 00:07] offirgolan commented on #317
Thanks for reporting this issue. I'll take a look first thing next week into upgrading nock.

[2020-03-21 20:46] #317 closed

[2020-03-21 20:51] offirgolan commented on #317
Released with `v4.0.4`

[2020-03-22 02:55] jasonmit commented on #315
Can confirm, the request goes out differently with Polly's XHR adapter enabled.  Will need to investigate further though.

[2020-03-22 03:38] jasonmit commented on #315
Okay, I believe this is caused by Polly not respecting the <base> tag in your template when constructing the URL which I believe is related to https://github.com/unshiftio/url-parse/issues/114

For now, a work around like this should unblock you:

[code]

[2020-03-23 00:14] witqq commented on #248
any workarounds?

[2020-03-23 00:26] jasonmit commented on #248
Do you have a reproduction that doesn't involve a Google request?  Have not triaged further and would appreciate any additional information.

[2020-03-23 07:25] nbfr commented on #315
@jasonmit : Thank you for quick feedback and the work around. For now I decided to extend the existing XHRAdapter.

[code]

[2020-03-23 08:24] mleneveut commented on #317
Thanks a lot for your quick answer !

[2020-03-23 16:10] Yopi commented on #121
I guess this is still the case. Are there any plans on adding support for the `document` resource type?

[2020-03-23 20:03] jasonmit commented on #121
Right now the scope of this project is to capture requests through xhr and fetch using the puppeteer adapter.  In the future we may expand this to include other types.

[2020-03-23 20:29] aelzhanova commented on #314
Where I should paste it?
I created my custom helper and use this function before I.mock and after I.mock and still get this error

[2020-03-24 01:38] jasonmit commented on #314
@aelzhanova that looks like an incomplete snippet, it's hard to say why this is happening.  Are you passing this `page` object to Polly?  Example:

https://netflix.github.io/pollyjs/#/adapters/puppeteer?id=usage

[2020-03-31 16:38] pushred commented on #269
✋ also interested in auditable diffs.

@brandon-leapyear did your workaround introduce any negative side effects over time?

@offirgolan Are there any plans for features in this area?

https://github.com/Netflix/pollyjs/issues/244 sounds like it but it predated this issue. I'm essentially looking for something equivalent to Jest snapshots and the HAR files are super close to that. But the sorting

[2020-03-31 17:19] brandon-leapyear commented on #269
@pushred nope! our workaround has been working seamlessly for us (there are other idempotency problems, but this particular spot hasn't given us any trouble)

[2020-03-31 17:50] #316 closed

[2020-04-03 08:13] moltar opened #322 "Feature: storing mimeType of "application/json" as JSON"
## Description

It'd be great to store recordings with`mimeType` of `application/json` as actual JSON, instead of stringified JSON.

This will make recordings more readable.

### Shareable Source

Right now the recording is stored as:

[code]

But would be great if they were stored as:

[code]

### Dependencies

Copy the @pollyjs dependencies from `package.json`:

[code]

[2020-04-03 21:16] offirgolan commented on #322
You can do this easily using the server middleware:

[code]

[2020-04-04 05:41] moltar commented on #322
Thank you so much, this is perfect!

[2020-04-04 21:14] #322 closed

[2020-04-06 13:02] nbfr opened #323 "Http Responses are sometimes not persisted due to synchronization issue"
## Description

I'm using Polly to record and replay data during testing and development.
Each response is persisted immediately to the Polly backend:

[code]

However sometimes REST responses are not persisted at all, if there is more than one REST response returned at the same time.

The reason being that 'recordRequest' in RESTPersister is executed while 'persist' in RESTPersister has not compl

[2020-04-13 00:14] offirgolan commented on #323
What is your use case for persisting each response one by one instead of calling `polly.stop()` at the end?

[2020-04-21 07:57] WillyLi opened #326 "Preflight request doesn't pass access control check when using @pollyjs/node-server"
## Description
Hi Pollyjs team,
We are using `@pollyjs/node-server` as our API server in our development environment.
In some requests, we fetch API with credentials.
[code]

### Shareable Source
Here is the demo sandbox online.
https://codesandbox.io/s/pollyjsnode-server-cors-issue-demo-02eof?file=/src/demo.html

### Error Message & Stack Trace

### Config

Copy the config used to setup the Polly

[2020-04-21 19:23] jasonmit commented on #326
Seems like a reasonable ask.  Seems we need to wire up the ability to pass in config options to the `Server` constructor that make its way to the cors middleware.

Let me know if you want to take this up

[2020-04-26 17:31] taokeqin opened #327 "The download file content is borken and the size looks doubled"
## Description

I use Pollyjs with node-fetch and jest for my test.
The downloaded file content was not correct, the size looks doubled.
If I comment out the setupPolly part as the code bellow, the image downloaded is correct.
but if I un-comments the setuPolly, the image is not correct.

### Shareable Source

download.test.js
[code]

### Error Message & Stack Trace

No

### Config

Copy the confi

[2020-04-27 17:54] #326 closed

[2020-04-30 18:12] #327 closed

[2020-04-30 18:14] offirgolan commented on #327
@taokeqin if you upgrade your @pollyjs package versions to `4.2.1` and re-record, the issue should be resolved.

[2020-05-03 23:20] taokeqin commented on #327
@offirgolan  Thanks for the fast responding and fixing. it works as expected after upgrading to 4.2.1.

[2020-05-06 07:46] jasonmit commented on #323
Closing, appears to be stale.  If not, respond and we'll reopen!

[2020-05-06 07:46] #323 closed

[2020-05-13 07:08] rlathgml1004 opened #330 "Redesigning "Polly.JS" Logo"
## Description

Redesigned "Polly.JS" Logo to reinforce symbol and meaning.

Motivation
: if it's able to guess what "polly js project" it is, it helps to enhance contribution rate. and the project will develop faster

### Shareable Source

[original logo]
![image](https://user-images.githubusercontent.com/64514522/81781634-68a90700-9533-11ea-8d65-c676eb880991.png)
[Redesigned logo] for white mode

[2020-05-13 18:55] jasonmit commented on #330
We're happy with the logo as-is but thank you for your contribution.

[2020-05-13 18:55] #330 closed

[2020-05-14 22:42] raghanag opened #331 "Mocha Setup is not working in typescript based tests."
## Description
I have setup mocha as defined in the setupMocha example. But when I run in replay mode, the recordings are created again thus having duplicate recordings. Please note that I am using ts-mocha to run the tests like this, and the below code is in one of the tests I have.

### Shareable Source

this is how we run the tests.
    ```"test:integ": "ts-mocha -p ./tests/integ/tsconfig.json

[2020-05-14 23:02] raghanag commented on #331
@offirgolan I am tagging you to get your attention. Sorry about this.

[2020-05-15 03:35] jasonmit commented on #331
A reproduction of the issue will speed up our turn around - unsure we'll be able to reproduce this with the given information,

[2020-05-15 03:44] jasonmit commented on #315
@offirgolan Don't believe there's anything in our lib that we should be doing extra to work around this - I feel like the fix probably belongs in nise.  Thoughts?